$primary: #f96154;
$primary-lighter : #fe5337;
$primary-lightest : #fa7360;

$colors: ( primary: $primary, primary-lighter: $primary-lighter, primary-lightest: $primary-lightest);
@each $name, $color in $colors {
    .displayColor-#{$name} {
        display: inline-block;
        padding: 20px;
        color: #fff;
        background-color: $color;
    }
}

/* Fonts */
$font-body: 'Ubuntu', sans-serif;