html
{
height: 80%;
}

body 
{
	height: 95%;   
}


.naslov_mehanizmi
{
	font-size: 25px;
}

.shortText_2 { display: none; }
.fullText_2 { display: inline-block; }

.dropdownNovo
{
	display: none;
}

/*scroll bar leva*/
div.ex1 {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10px;
}


/*scroll bar desna*/
div.ex2 {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10px;
}

.glavni-ekran {
	overflow: hidden; /*da moze footer div da ide ispod poslednjeg diva*/
}

.glavni {
background-color: #ececec;
border: 1px solid #d4d4d4;
font-weight: bold;
font-size: 14px;
border-radius: 3px;
box-shadow: 1px 1px 1px #BAB8BA;
}

.glavni_meni li a{
    display: block;
    text-align: center;
    padding: 5px 5px;
	height: 10px;
}

.glavni_meni a
{

	color: #666265;
}

.glavni_meni > li:last-child
{
	right:0;
	position: relative;
}
/*PRELAZAK MISEM U NAVIGACIJI MENJA BOJU*/
.glavni li a:hover:not(.active) {
    background-color: #f86153;
	color: #fff;
}

.slika_nav_x_modula_slika
{
	height: 53px;
}

p.nosac_slova
{
	margin-bottom: 0px;
}
p.nosac_slova_2, p.nosac_slova_2_broj
{
	display: none;
	margin-bottom: 0px;
}

.navigacija
{
	position: relative;
	/*height: 100px;*/
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.jezik_navigacija{
	position: relative;
	top: 11px;
	background-color: darkgrey;
	height: 27px;
	float:right;
	overflow: hidden;
}

.leva {
	/*kod da linija bude unutar div-a */
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    float:left;
	display: inline-block;
    width: 50%;
    height: 98%;
	padding-left: 3px;
	padding-right: 2px;
	padding-bottom: 10px;
	border-right: 0.5px solid #f5f5f5;
	background-color: #fff;
}

.desna {
	/*kod da linija bude unutar div-a */
	
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

    display: inline-block;
    width: 50%;
    height: 98%;
	float: right;
	background-color: white;
	padding-bottom: 10px;
	top: 3px;
}

/* NAVIGACIONI MENI*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	list-style-type: none;
   /*float: left;*/
    /*border-right:1px solid #bbb;*/
	cursor:pointer;
	display: inline-block;
}

li a {
    display: block;
    color: #666265;
    text-align: center;
    padding: 7px 7px;
    text-decoration: none;
}

/* MENI ZA LINKOVE ZA PRIKAZIVANJE MENIJA */
.link_moduli {
	font-size: 16px;
	color: #d0d0d0;
	font-weight: bold;
}

/*DIMENZIJE KOMPLETNOG MODULA ZA SVE MEHANIZME*/
.mehanizam_velicine_1_modula
{
    display: inline-block;
	width: 22%;
	padding-top: 15px;
	padding-bottom: 5px;
	z-index: 1;
	border: 1px solid #DCDCDC;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	min-height: 215px;
	border-radius: 5px;
	cursor: pointer;
}

.mehanizam_velicine_1_modula:hover, .mehanizam_velicine_2_modula:hover, .mehanizam_velicine_2v_modula:hover,
.mehanizam_velicine_-_modula:hover, .mehanizam_velicine_3_modula:hover,
.mehanizam_velicine_4_modula:hover, .mehanizam_velicine_7_modula:hover,
.mehanizam_velicine_22_modula:hover, .mehanizam_velicine_333_modula:hover, .mehanizam_velicine_33_modula:hover
{
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.4);
    box-shadow:0 0 10px rgba(0,0,0,0.4);
	
}

.mehanizam_velicine_2_modula, .mehanizam_velicine_2_modula_dodatno, .mehanizam_velicine_2v_modula,
.mehanizam_velicine_-_modula, .mehanizam_velicine_-_modula_dodatno,
.mehanizam_velicine_3_modula, .mehanizam_velicine_3_modula_dodatno,
.mehanizam_velicine_4_modula, .mehanizam_velicine_4_modula_dodatno,
.mehanizam_velicine_6_modula, .mehanizam_velicine_6_modula_dodatno,
.mehanizam_velicine_7_modula, .mehanizam_velicine_7_modula_dodatno,
.mehanizam_velicine_22_modula, .mehanizam_velicine_333_modula, .mehanizam_velicine_33_modula
{
    display: inline-block;
	width: 22%;
	padding-top: 15px;
	z-index: 1;
	border: 1px solid #DCDCDC;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	min-height: 230px;
	border-radius: 5px;
	cursor: pointer;
}

/* JAKO VAZNO */

.slika_velicine_x_modula#jedan
{
	margin: 0 auto;
	display: block;
	width: 20%;
	height: auto;
	margin-bottom: 10px;
	border: 1px solid #A8A8A8;
}

.slika_velicine_x_modula#dva
{
	margin: 0 auto;
	display: block;
	width: 40%;
	height: auto;
	margin-bottom: 10px;
}

.slika_velicine_x_modula#tri
{
	margin: 0 auto;
	display: block;
	width: 60%;
	height: auto;
	margin-bottom: 10px;
}

.slika_velicine_x_modula_dodatno#nista
{
	margin: 0 auto;
	display: block;
	width: 40%;
	height: auto;
	margin-bottom: 10px;
}

.slika_velicine_x_modula_dodatno#jedan
{
	margin: 0 auto;
	display: block;
	width: 20%;
	height: auto;
	margin-bottom: 10px;
}

.slika_velicine_x_modula_dodatno#dva
{
	margin: 0 auto;
	display: block;
	width: 40%;
	height: auto;
	margin-bottom: 10px;
}

.slika_velicine_x_modula_dodatno#dva_vertikalno
{
	margin: 0 auto;
	display: block;
	width: 40%;
	height: auto;
	margin-bottom: 10px;
}

/*PODACI MEHAIZMA U MODULU (ISPOD SLIKE)*/

/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/

.podaci_mehanizama
{
	display: block;
	width: 100%;
	padding: 5px 5px;
}
/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/

.podaci_mehanizama p{
	/*font-size: 14px;*/
	/*background-color: red;*/
}


/* JAKO VAZNO */

.slika_velicine_x_modula_maska#jedan
{
	width: 50px;
	height: 100px;
	cursor: pointer;
}

.slika_velicine_x_modula_maska#dva
{
	width: 100px;
	height: 100px;
	cursor: pointer;
} 


.slika_velicine_x_maska#dva
{
	width: 40%;
	height: auto;
}

.slika_velicine_x_modula_dodatno#tri
{
	width: 50%;
	height: auto;
}

.slika_velicine_x_modula_dodatno#cetiri
{
	width: 60%;
	height: auto;
}

.slika_velicine_x_modula_dodatno#sedam
{
	width: 90%;
	height: auto;
}

.slika_velicine_x_modula_dodatno#sest
{
	width: 90%;
	height: auto;
}

.slika_velicine_x_modula_dodatno#dva_dva
{
	width: 60%;
	height: auto;
}

.slika_velicine_x_modula_dodatno#tri_tri_tri
{
	width: 80%;
	height: auto;
}

.slika_velicine_x_modula_dodatno#tri_tri
{
	width: 80%;
	height: auto;
}

.slika_velicine_1_modula_klon
{
	position: relative;
	float: left;
	left: 30px;
	top: 25px;
	border: 1px solid #696969;
	height: 62px;
	width: 30px;
	cursor: pointer;
	z-index: 3;
	
}

.slika_velicine_2_modula_klon
{
	position: relative;
	float: left;
	left: 30px;
	top: 25px;
	border: 1px solid #696969;
	height: 62px;
	width: 60px;
	cursor: pointer;
	z-index: 3;
}

.slika_velicine_3_modula_klon
{
	position: relative;
	float: left;
	left: 36px;
	top: 26px;
	border: 1px solid black;
	height: 68px;
	width: 102px;
	cursor: pointer;
	z-index: 3;
}

/*PODEŠAVANJE DIMENZIJE SLIKE U MODULU 2*/

.slika_velicine_-_modula
{
	width: 100px;
	height: 100px;
}

.slika_velicine_3_modula
{
	width: 140px;
	height: 100px;
}

.slika_velicine_33_modula
{
	width: 140px;
	height: 140px;
}


.slika_velicine_4_modula
{
	width: 190px;
	height: 100px;
}

.slika_velicine_22_modula
{
	width: 210px;
	height: 100px;
}

.slika_velicine_333_modula
{
	width: 250px;
	height: 100px;
}

.slika_velicine_6_modula
{
	width: 270px;
	height: 100px;
}

.slika_velicine_7_modula
{
	width: 270px;
	height: 100px;
}

/*DIMENZIJE BOJA OKVIRA*/
.boje_okvira
{
	width: 32%;
	float: left;
	padding: 5px;
	padding-bottom: 30px;
	/*border: 1px solid black;*/
	
}

.okvir_slika
{
	width: 100%;
	height: 60px;
}

#okvir_slika
{
	cursor:pointer;
	float: left;
}

.slika_tekst
{
	width: 100%;
	height: 70px;
	float: left;
	padding: 0px;
}


/*TABELA - SA PODACIMA O OKVIRIMA*/
.podaci_okvira
{
	width: 100%;
	font-size: 12px;
	padding: 5px;
	float: left;
}

/*IZGLED - NASLOVA OKVIRA*/

h2 {
	position: relative;
	top: -51px; 
	left: 0px;
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.5);
   padding: 5px;
}


/* IZGLED PODMENIJA GDE SU PRIKAZANI NOSACI*/
.podmeni_nosaci
{	
	font-size: 14px;
	position:relative;
	background-color: #ececec;
	z-index: 1;
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	font-weight: bold;
	box-shadow: 1px 1px 1px #BAB8BA;
}

.podmeni_nosaci li {
	width: 16.5%;
}

.podmeni_nosaci li {
    text-align: center;
	border-left: 1px solid #A0A0A0;
	height: 100%;
}

.podmeni_nosaci li:first-child {
    border-left: none;
}

.podmeni_nosaci a:hover {
	color: white;
	background-color: #0083fe;
}

.slika_nav_x_modula
{
	height: 50px;
}

/* KRAJ PODMENIJA GDE SU PRIKAZANI NOSACI*/

.naslov_proizvoda
{
	font-size: 27px;
	font-weight: bold;
	width: 55%;
	color: #403b3f;
	float: left;
}


#naslov_dodatna_oprema
{
color: #0000FF;
}


.tekst_katbr
{
	font-size: 16px;
	font-weight: bold;
	color: #ea6724;
}

.tekst_opis
{
	font-size: 12px;
}

.tekst_opis_info
{
	font-weight: bold;
	color: #C36900;
}

.tekst_cena
{
	font-weight: bold;
	color: green;
	font-size: 13px;
	
}

/* POODESAVANJE DESNE STRANE*/
/*PODESAVANJE NOSACA*/

.naslov_tabele
{
	border-radius: 3px;
	border: 1px solid #b9b8ba;
	overflow: hidden;
	margin-bottom: 20px;
	padding: 2px 2px;
	background-image: linear-gradient(#e8e6e9, #d0cfd1);
}

.mesto_nosac
{
	float: left;
	width: 99.5%;
	min-height: 250px;
	margin-bottom: 27px;
	border-bottom: 1px solid #e1e0e0;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

.mesto_nosac_minimiz
{
	width: 100%;
	height: 40px;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 1px solid #e1e0e0;
	margin-left: 2.5px;
	margin-right: 2.5px;
}


.slika_nosac_1_modula_klon
{
	position: relative;
	width: 117px;
	height: 111px;
	background-size: 117px 111px;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 30px;
	margin-bottom: 15px;
	float: left;
	
}

.slika_nosac_2_modula_klon
{
	position: relative;
	width: 120px;
	height: 111px;
	background-size: 120px 111px;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 20px;
	margin-bottom: 15px;
	float: left;
	
}

.slika_nosac_23_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 152px;
	height: 111px;
	background-size: 152px 111px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-left: 20px;
	margin-bottom: 15px;
}


.slika_nosac_3_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 152px;
	height: 111px;
	background-size: 152px 111px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-left: 20px;
	margin-bottom: 15px;
}

.slika_nosac_4_modula_klon
{
	position: relative;
	width: 181px;
	height: 110px;
	background-size: 181px 110px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-left: 20px;
	margin-bottom: 15px;
}

.slika_nosac_6_modula_klon
{
	position: relative;
	width: 240px;
	height: 110px;
	background-size: 240px 110px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-left: 20px;
	margin-bottom: 15px;
}

.slika_nosac_7_modula_klon
{
	position: relative;
	width: 272px;
	height: 110px;
	background-size: 272px 110px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-left: 20px;
	margin-bottom: 15px;
}

.slika_nosac_33_modula_klon
{
	position: relative;
	width: 265px;
	height: 280px;
	background-size: 265px 280px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

/*OKVIRI*/
.okvir_velicine_1_modula_klon
{
	width: 128px;
	height: 118px;
	z-index: 1;
	position: absolute;
	left: -19px;
	top: -3px;
}


.okvir_velicine_2_modula_klon
{
	width: 128px;
	height: 118px;
	z-index: 1;
	position: absolute;
	left: -4px;
	top: -3px;
}

.okvir_velicine_23_modula_klon
{
	width: 166px;
	height: 118px;
	z-index: 1;
	position: absolute;
	left: -8px;
	top: -3px;
}

.okvir_velicine_3_modula_klon
{
	width: 166px;
	height: 118px;
	z-index: 1;
	position: absolute;
	left: -8px;
	top: -3px;
}

.okvir_velicine_4_modula_klon
{
	width: 190px;
	height: 118px;
	z-index: 1;
	position: absolute;
	left: -5px;
	top: -3px;
}

.okvir_velicine_6_modula_klon
{
	width: 250px;
	height: 118px;
	z-index: 1;
	position: absolute;
	left: -5px;
	top: -3px;
}

.okvir_velicine_7_modula_klon
{
	width: 280px;
	height: 118px;
	z-index: 1;
	position: absolute;
	left: -5px;
	top: -3px;
}

/* TABELE ZA PRIKAZ*/

.cenovnik_komplet_2_modula, .cenovnik_komplet_3_modula , 
.cenovnik_komplet_33_modula, .cenovnik_komplet_4_modula, 
.cenovnik_komplet_6_modula, .cenovnik_komplet_7_modula, 
.cenovnik_komplet_22_modula, .cenovnik_komplet_333_modula, 
.cenovnik_komplet_-_modula, .cenovnik_komplet_1_modula,
.cenovnik_komplet_2v_modula  
{
	/*border: 1px solid black;*/
	width: 100%;
	position: relative;
	float: right;
	font-size: 11px;
	left: 0px;
	top: 5px;;
}

.tabela_red_naslovi
{
	background-color: #FFF;
}

/*
th {
  background-color: #f86153;
  color: black;
  height: 14px;
  vertical-align: middle;
  border: 0px solid black;
}
*/

th {
  background-image: linear-gradient(#e8e6e9, #d0cfd1);
  border: 1px solid #999999;
  color: #666265;
  height: 14px;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
}


td
{
  height: 12px;
  border: 1px solid #d2d2d2;
}

td.kolona_kolicina, td.kolona_cena, td.kolona_ukupno, td.kolona_kolicina_naslov, td.kolona_cena_naslov, td.kolona_ukupno_naslov, td.kolona_naziv_naslov, td.kolona_kat_br_naslov, td.kolona_modul, td.kolona_kat_br, td.kolona_cena_2 {
	padding: 2px;
	text-align: center;
}

th.kolona_ukupno_cena
{
	text-align: center;
}


td.kolona_ukupno {
	text-align: right;
	font-weight: bold;
	padding-right: 7px;
}


tr:nth-child(odd) {background: #E8E8E8}
tr:nth-child(even) {background: #FFF}


td.kolona_naziv{
	padding: 3px;
}

tr:hover {background-color: #D3D3D3}

.naslov_tabele
{
	border-radius: 3px;
	border: 1px solid #b9b8ba;
	overflow: hidden;
	/*margin-bottom: 20px;*/
	padding: 2px 2px;
	background-image: linear-gradient(#e8e6e9, #d0cfd1);
}
.naslov_tabele_tekst
{
	float:left;
	font-size: 17px;
	width: 60%;
	margin-left: 5px;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #403b3f; /*boja slova u naslovu tabele*/
}


.dugmad
{
	position: relative;
	float: right;
	top: 4px;
	font-size: 13px;
	overflow: hidden;
	width: 80px;
	font-weight: bold;
}

.dugme_brisi, .dugme_minimiziraj
{
	border-radius: 3px;
	border: 1px solid #b2423c;
	width: 25px;
	position: relative;
	float: right;
	right: 1px;
	cursor: pointer;
	background-color: #ff5f57;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
	/*KOMANDE DA SE NE POJAVLJUJE MARKIRANJE*/
	-webkit-user-select: none;
	-moz-user-select: none;
	/*-khtml-user-select: none;
	-ms-user-select: none;*/
	z-index : 1;
}

.dugme_minimiziraj
{
	right: 4px;
	background-color: #ffbd2f;
	border: 1px solid #cc9725;
}

.desna_dugme_kreiranje
{
	float: right;
	height: 0px;
	width: 0px;
}

.export
{
	font-size: 15px;
	width: 155px;
	position: relative;
	float: left;
	right: 170px;
	top: -70px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	background-image: linear-gradient(#6bb3fa, #419bf9); /*boja dugmeta*/
	color: white;
	/*KOMANDE DA SE NE POJAVLJUJE MARKIRANJE*/
	-webkit-user-select: none;
	-moz-user-select: none;
	z-index: 100;
	display: flex;
	border-radius: 3px;
	border: 1px solid #d4d4d4;
	vertical-align: middle;
	box-shadow: 1px 1px 1px #BAB8BA;
	text-decoration: none;
	padding: 10px 22px;
}

.export:hover{
    color: black;
}


.dugme_brisi:hover{
    background-color: black;
}


.dugme_brisi a
{
    text-decoration: none;
	color: white;
}

.dugme_brisi a:hover
{
    text-decoration: none;
	color: white;
}

.dugme_minimiziraj:hover{
    background-color: red;
}

.dugme_brisi a, .dugme_minimiziraj a
{
    text-decoration: none;
	color: white;
}


/*DIV KOLICINA PROIZVODA - PODESAVANJE*/
/* FORMATIRANJE SLOVA */
.kolicina_plus, .kolicina_prikaz, .kolicina_minus
{
	text-align: center;
}

.kolicina_proizvoda
{
	position: relative;
	width: 80px;
	height: 80px;
	float: left;
	top: 0px;
	margin-top: 15px;
	margin-left: 25px;
	background-color: white;
}

.kolicina_naslov
{
	height: 20%;
	width: 100%;
	text-align: center;
	color: grey;
	vertical-align: middle;
	font-weight: bold;
}

.kolicina_prikaz
{
	height: 50%;
	border-bottom: 1px solid #E8E8E8;
	border-top: 1px solid #E8E8E8;
	vertical-align: middle;
	font-size: 30px;
}

.kolicina_plus
{
	height: 40%;
	float: right;
	width: 50%;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	/*-khtml-user-select: none;
	-ms-user-select: none;*/
	font-size: 25px;
	font-weight: bold;
	color: white;
	background-color: #80bfff;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-left: 1px solid white;
}

.kolicina_minus
{
	height: 40%;
	float: left;
	width: 50%;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	/*-khtml-user-select: none;
	-ms-user-select: none;*/
	font-size: 25px;
	font-weight: bold;
	color: white;
	background-color: #80bfff;
}

.kolicina_minus:hover {
    color: black;
}

.kolicina_plus:hover {
    color: black;
}

/* PODEŠAVANJE DODATNIH PROIZVODA*/ 

.dodatni_1_modula_klon
{
	position: relative;
	width: 70px;
	height: 140px;
	background-size: 70px 140px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
	left: 10px;
}

.dodatni_-_modula_klon
{
	position: relative;
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
	margin-left: 20px;
	margin-bottom: 15px;
}

.dodatni_2_modula_klon
{
	position: relative;
	width: 120px;
	height: 120px;
	background-size: 120px 120px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
	/*left: 10px;*/
	margin-left: 20px;
	margin-bottom: 15px;
}

.dodatni_2v_modula_klon
{
	position: relative;
	width: 120px;
	height: 205px;
	background-size: 120px 205px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
	/*left: 10px;*/
	margin-left: 20px;
	margin-bottom: 15px;
}

.dodatni_3_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 160px;
	height: 118px;
	background-size: 160px 118px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-left: 20px;
	margin-bottom: 15px;
}

.dodatni_22_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 275px;
	height: 170px;
	background-size: 275px 170px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-bottom: 15px;
}

.dodatni_4_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 182px;
	height: 118px;
	background-size: 182px 118px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-left: 15px;
}

.dodatni_6_modula_klon
{
	position: relative;
	width: 330px;
	height: 119px;
	background-size: 330px 119px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-left: 15px;
}

.dodatni_7_modula_klon
{
	position: relative;
	width: 290px;
	height: 119px;
	background-size: 290px 119px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-left: 15px;
}

.dodatni_33_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 265px;
	height: 300px;
	background-size: 265px 300px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.dodatni_333_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 375px;
	height: 170px;
	background-size: 375px 170px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.slika_nosac_33_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 265px;
	height: 280px;
	background-size: 265px 280px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.kompleti_mehanizama {
   border: 1px solid red;

}

.left_container
{
	width: 50%;
	margin-top: 0px;
	display: inline-block;
}

.bticino_logo
{
	float: left;
	width: 40%;
	padding-left: 10px;
}

.bticino_logo img
{
	width: 90%;
	height: auto;
}

.bticino_levi
{
	float: right;
	width: 100%;
}

.levi_podmeni{
	width: 100%;
}

.levi_podmeni a:hover
{
	background-color: #2980B9;
}
	
.right_container
{
	width: 50%;
	float: right;
	display: inline-block;
}

.flags
{
	width: 10%;
	height: 100%;
	float: left;
	display: inline;
	padding-top: 8px;
	padding-bottom: 8px;
}

.flag
{
	display: inline;
	padding-right: 3px;
}

.naslov_kompleta
{
	font-size: 27px;
	font-weight: bold;
	width: 90%;
	float: right;
	text-align: center;
}

.flag img
{ 
		width: 25%;
		border-radius: 4px;
}


@media only screen and (max-width: 1550px) {
	
.glavni {
font-size: 12px;
}

.naslov_proizvoda, .naslov_kompleta
{
	font-size: 22px;
}

}

@media only screen and (max-width: 1510px) {
.mehanizam_velicine_2_modula, .mehanizam_velicine_2_modula_dodatno,
.mehanizam_velicine_-_modula, .mehanizam_velicine_-_modula_dodatno,
.mehanizam_velicine_3_modula, .mehanizam_velicine_3_modula_dodatno,
.mehanizam_velicine_4_modula, .mehanizam_velicine_4_modula_dodatno,
.mehanizam_velicine_6_modula, .mehanizam_velicine_6_modula_dodatno,
.mehanizam_velicine_7_modula, .mehanizam_velicine_7_modula_dodatno, .mehanizam_velicine_2v_modula,
.mehanizam_velicine_22_modula, .mehanizam_velicine_333_modula, .mehanizam_velicine_33_modula,
.mehanizam_velicine_1_modula
{
	width: 22%;
	
}
}

@media only screen and (max-width: 1400px) {
.slika_nav_x_modula_slika {
    height: 55px;
}

.glavni li a
{
    padding: 5px 5px;
}
}

@media only screen and (max-width: 1305px) {

.glavni {
font-size: 11px;
}

}

@media only screen and (max-width: 1205px) {

.glavni li a
{
    padding: 3.5px 3.5px;
}


.slika_nav_x_modula_slika {
    height: 45px;
}

.nosac_slova
{
	font-size: 12px;
}

.naslov_proizvoda, .naslov_kompleta
{
	font-size: 17px;
}

.export
{
font-size: 12px;
width: 135px;
right: 140px;
top: -60px;
padding: 10px 22px;
}

}


/**//**/
@media only screen and (max-width: 1150px) {
/*leva*/ /**/

/*DIMENZIJA TEKSTA ZA OKVIRE*/
.podaci_okvira
{
	font-size: 11px;
	padding: 2px;
}

.slika_tekst
{
	width: 100%;
	height: 70px;
	float: left;
	padding: 0px;
}

td.kolona_kolicina, td.kolona_cena, td.kolona_ukupno, td.kolona_kolicina_naslov, td.kolona_cena_naslov, td.kolona_ukupno_naslov, td.kolona_naziv_naslov, td.kolona_kat_br_naslov, td.kolona_modul, td.kolona_kat_br, td.kolona_cena_2 {
	padding: 0px;
}

/*PRELAZAK MISEM U NAVIGACIJI MENJA BOJU*/
.podaci_mehanizama p
{
	font-size: 11px;
}

.tekst_katbr
{
	font-size: 15px;
}
.tekst_opis
{
	font-size: 12px;
}
.tekst_cena
{
	font-size: 13px;
}

.mehanizam_velicine_2_modula, .mehanizam_velicine_2_modula_dodatno, 
.mehanizam_velicine_-_modula, .mehanizam_velicine_-_modula_dodatno,
.mehanizam_velicine_3_modula, .mehanizam_velicine_3_modula_dodatno,
.mehanizam_velicine_4_modula, .mehanizam_velicine_4_modula_dodatno,
.mehanizam_velicine_6_modula, .mehanizam_velicine_6_modula_dodatno,
.mehanizam_velicine_7_modula, .mehanizam_velicine_7_modula_dodatno,
.mehanizam_velicine_22_modula, .mehanizam_velicine_333_modula, .mehanizam_velicine_33_modula,
.mehanizam_velicine_1_modula
{
	min-height: 200px;
}

}

@media only screen and (max-width: 1090px) {
/*DIMENZIJE BOJA OKVIRA*/
.boje_okvira
{
	width: 45%;
	float: left;
	padding: 5px;
}
}

/**//**/
@media only screen and (max-width: 1035px) {

/*TABELA SA ZA KOLIČINU PROIZVODA*/
.kolicina_proizvoda
{
	width: 60px;
	height: 70px;
	float: left;
	left: 10px;
	top: -10px;
}

.kolicina_naslov
{
	font-size: 11px;
	height: 30%;
	/*padding: 3px;*/
	width: 100%;
}

.kolicina_prikaz
{
	height: 50%;
	vertical-align: middle;
	font-size: 25px;
}

.kolicina_plus, .kolicina_minus
{
	height: 40%;
	float: right;
	width: 50%;
	font-size: 20px;
	font-weight: bold;
}

.kolicina_minus
{
	float: left;
}

/*SETOVANJE DESNE STRANE MEHANIZMI KLONOVI 1005*/

.slika_velicine_1_modula_klon
{
	left: 29px;
	top: 19px;
	height: 52px;
	width: 25px;
}
.slika_velicine_2_modula_klon
{
	left: 29px;
	top: 19px;
	height: 52px;
	width: 50.5px;
	border: 0.5px solid black;
}

.slika_velicine_3_modula_klon
{
	left: 29px;
	top: 19px;
	height: 52px;
	width: 75px;
	border: 0.5px solid black;
}

/*KOMPLET 2 MODULA*/
.slika_nosac_2_modula_klon
{
	width: 92px;
	height: 92px;
	background-size: 92px 92px;
}
.okvir_velicine_2_modula_klon
{
	width: 95px;
	height: 95px;
	left: 7px;
	top: -2px;
}

/*KOMPLET 2-3 MODULA*/
.slika_nosac_23_modula_klon
{
	width: 133px;
	height: 92px;
	background-size: 133px 92px;
}

.okvir_velicine_23_modula_klon
{
	width: 133px;
	height: 95px;
	left: 0px;
}



/*KOMPLET 3 MODULA*/
.slika_nosac_3_modula_klon
{
	width: 133px;
	height: 92px;
	background-size: 133px 92px;
}

.okvir_velicine_3_modula_klon
{
	width: 133px;
	height: 95px;
	left: 0px;
}

/*KOMPLET 4 MODULA*/
.slika_nosac_4_modula_klon
{	
	width: 159px;
	height: 92px;
	background-size: 159px 92px;	
}

.okvir_velicine_4_modula_klon
{
	width: 159px;
	height: 95px;
	left: 0px;
}

/*KOMPLET 7 MODULA*/
.slika_nosac_7_modula_klon
{	
	width: 233px;
	height: 92px;
	background-size: 233px 92px;	
}

.okvir_velicine_7_modula_klon
{
	width: 233px;
	height: 95px;
	left: 0px;
}

}

/**//**/
@media only screen and (max-width: 930px) {
	
.dugmad
{
	top: 2px;
}
	
.tabela_proizvoda_potvrda tr td:first-child{
		display: none;
}

.tabela_proizvoda_potvrda tr th:first-child{
		display: none;
}
	
.glavni{
	display:none;
}

/*NOVI PADAJUCI MENI UMESTO NAVIGACIJE*/
.dropbtnNovo {
  background-color: #4CAF50;
  color: white;
  padding: 3px 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 0px;
}

.dropdownNovo {
  position: relative;
  display: inline-block;
}

.dropdown-contentNovo {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 20px;
}

.dropdown-contentNovo a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: 12px;
}

.dropdown-contentNovo a:hover {
	background-color: #f1f1f1
}

.dropdownNovo:hover .dropdown-contentNovo {
  display: block;
}

.dropdownNovo:hover .dropbtnNovo {
  background-color: #3e8e41;
}

li a{
	padding-top: 3px;
	padding-bottom: 3px;
}

.glavni_meni a
{
	font-size: 12px;
}	

.link_moduli
{
	   font-size: 14px;
}

.tekst_katbr
{
	font-size: 13px;
}
.tekst_opis
{
	font-size: 11px;
}
.tekst_cena
{
	font-size: 12px;
}

.mehanizam_velicine_2_modula, .mehanizam_velicine_2_modula_dodatno, 
.mehanizam_velicine_-_modula, .mehanizam_velicine_-_modula_dodatno,
.mehanizam_velicine_3_modula, .mehanizam_velicine_3_modula_dodatno,
.mehanizam_velicine_4_modula, .mehanizam_velicine_4_modula_dodatno,
.mehanizam_velicine_6_modula, .mehanizam_velicine_6_modula_dodatno,
.mehanizam_velicine_7_modula, .mehanizam_velicine_7_modula_dodatno,
.mehanizam_velicine_22_modula, .mehanizam_velicine_333_modula, .mehanizam_velicine_33_modula,
.mehanizam_velicine_1_modula
{
	min-height: 170px;
}

th
{
	padding: 0px 3px;
}

td.kolona_kolicina, td.kolona_cena, td.kolona_ukupno, td.kolona_kolicina_naslov, td.kolona_cena_naslov, td.kolona_ukupno_naslov, td.kolona_naziv_naslov, td.kolona_kat_br_naslov, td.kolona_modul, td.kolona_kat_br, td.kolona_cena_2,
td.kolona_naziv {
	padding: 0px 2px;
}

.mesto_nosac_minimiz
{
	height: 35px;
}

.tabela_red_naslovi
{
	font-size: 9px;
}

.slika_nav_x_modula_slika, .nosac_slova
{
	display: none;
}

p.nosac_slova_2, p.nosac_slova_2_broj
{
	display: block;
}

p.nosac_slova_2_broj
{
	font-size: 16px;
}

.naslov_tabele_tekst
{
	font-size: 14px;
}
}


@media only screen and (max-width: 845px) {
.export
{
width: 105px;
right: 110px;
top: -75px;
padding: 4px 9px;
}

.naslov_kompleta
{
	font-size: 14px;	
}

.naslov_proizvoda
{
	font-size: 14px;
}

}

@media only screen and (max-width: 820px) {
.tabela_proizvoda_potvrda tr td:last-child{
		display: none;
}

.tabela_proizvoda_potvrda tr th:last-child{
		display: none;
}
}

@media only screen and (max-width: 800px) {

.naslov_kompleta
{
	font-size: 12px;	
}

.naslov_proizvoda
{
	font-size: 12px;
}

}

@media only screen and (max-width: 770px) {
	
.export
{
width: 105px;
right: 110px;
top: -63px;
padding: 2px 4px;
}


/*DIMENZIJA TEKSTA ZA OKVIRE*/
.podaci_okvira
{
	font-size: 10px;
	padding: 2px;
}

/*TABELA SA ZA KOLIČINU PROIZVODA*/
.kolicina_proizvoda
{
	width: 50px;
	height: 60px;
	float: left;
	top: 0px;
	left: 20px;
}

.kolicina_prikaz
{
	height: 50%;
	vertical-align: middle;
	font-size: 20px;
}

.kolicina_plus, .kolicina_minus
{
	height: 30%;
	float: right;
	width: 50%;
	font-size: 14px;
	font-weight: bold;
}

.kolicina_minus
{
	float: left;
}

.kolona_naziv, .kolona_kat_br, .kolona_cena
{
	font-size: 10px;
}

.tekst_katbr
{
	font-size: 11px;
}

}


@media only screen and (max-width: 767px){
	
.vrsta_mehanizmi
{
	text-align: center;
}
	
.bticino_container {
    margin-top: 0px;
}

.mehanizam_velicine_2_modula, .mehanizam_velicine_2_modula_dodatno, 
.mehanizam_velicine_-_modula, .mehanizam_velicine_-_modula_dodatno,
.mehanizam_velicine_3_modula, .mehanizam_velicine_3_modula_dodatno,
.mehanizam_velicine_4_modula, .mehanizam_velicine_4_modula_dodatno,
.mehanizam_velicine_6_modula, .mehanizam_velicine_6_modula_dodatno,
.mehanizam_velicine_7_modula, .mehanizam_velicine_7_modula_dodatno,
.mehanizam_velicine_22_modula, .mehanizam_velicine_333_modula, .mehanizam_velicine_33_modula,
.mehanizam_velicine_1_modula
{
	min-height: 170px;
	width: 70%;
}

.boje_okvira
{
	width: 80%;
}

.kolicina_naslov
{
	font-size: 9px;
}

}

@media only screen and (max-width: 750px) {
.naslov_proizvoda, .naslov_kompleta
{
display: none;
}

.bticino_logo
{
	width: 70%;
}


/*DIMENZIJA TEKSTA ZA OKVIRE*/
.podaci_okvira
{
	font-size: 12px;
	padding: 2px;
}

/*DESNA STRANA PODESAVANJE*/

.cenovnik_komplet_2_modula , .cenovnik_komplet_3_modula , .cenovnik_komplet_33_modula, .cenovnik_komplet_4_modula, .cenovnik_komplet_7_modula, .cenovnik_komplet_22_modula, .cenovnik_komplet_333_modula, .cenovnik_komplet_-_modula, .cenovnik_komplet_1_modula  
{
	font-size: 12px;
}

.naslov_tabele
{
	font-size: 15px;	
}

.export
{
top: -70px;
}

.tabela_proizvoda_potvrda tr td:last-child{
		display: none;
}

.tabela_proizvoda_potvrda tr th:last-child{
		display: none;
}


}

@media only screen and (max-width: 720px) {
.kolicina_proizvoda
{
	margin-left: 15px;
	left: 0px;
}

.export{
top: -65px;
}
}

@media only screen and (max-width: 650px) {

.tabela_red_naslovi, .kolona_naziv, .kolona_kat_br_naslov, .kolona_kolicina, .kolona_cena, .kolona_kat_br,.kolona_naziv_naslov
{
		display: none;
}

.tabela_red_naslovi tr
{
		display: none;
}

.mesto_nosac
{
	min-height: 190px;
}

p.nosac_slova_2
{
	display: none;
}

/*
div.ex1 {
  height: 130%;
}


div.ex2 {
  height: 130%;
}
*/

.leva, .desna
{
	height: 112%;
}

}

@media only screen and (max-width: 640px) {

.kolicina_proizvoda
{
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 20px;
}
}

@media only screen and (max-width: 630px) {
.tabela_proizvoda_potvrda tr td:nth-child(3){
		display: none;
}

.tabela_proizvoda_potvrda tr th:nth-child(3){
		display: none;
}
}


@media only screen and (max-width: 560px) {
	
.dugmad
{
	top: 0px;
}

.naslov_tabele_tekst{
font-size: 12px;
}

.link_moduli
{
	font-size: 12px;
}


/* PODEŠAVANJE DODATNIH PROIZVODA*/ 

.dodatni_1_modula_klon
{
	position: relative;
	width: 30px;
	height: 60px;
	background-size: 30px 60px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
	left: 10px;
}

.dodatni_-_modula_klon
{
	position: relative;
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
	margin-left: 20px;
	margin-bottom: 15px;
}

.dodatni_2_modula_klon
{
	position: relative;
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
	/*left: 10px;*/
	margin-left: 20px;
	margin-bottom: 15px;
}

.dodatni_3_modula_klon
{
	width: 120px;
	height: 70px;
	background-size: 120px 70px;
	background-repeat: no-repeat;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	float: left;
	left: -20px;
	top: 60px;
}

.dodatni_22_modula_klon
{
	width: 170px;
	height: 90px;
	background-size: 170px 90px;
	background-repeat: no-repeat;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	float: left;
	left: -30px;
	top: 60px;
}

.dodatni_4_modula_klon
{
	width: 170px;
	height: 90px;
	background-size: 170px 90px;
	background-repeat: no-repeat;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	float: left;
	left: -40px;
	top: 60px;
}

.dodatni_6_modula_klon
{
	width: 200px;
	height: 90px;
	background-size: 200px 90px;
	background-repeat: no-repeat;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	float: left;
	left: -60px;
	top: 60px;
}

.dodatni_7_modula_klon
{
	width: 210px;
	height: 90px;
	background-size: 210px 90px;
	background-repeat: no-repeat;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	float: left;
	left: -60px;
	top: 60px;
	
}

.dodatni_33_modula_klon
{
	position: relative;
	width: 230px;
	height: 60px;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	float: left;
	left: -80px;
	top: 60px;
}

.dodatni_333_modula_klon
{
	width: 230px;
	height: 90px;
	background-size: 230px 90px;
	background-repeat: no-repeat;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	float: left;
	left: -60px;
	top: 60px;
}

}

@media only screen and (max-width: 550px) {
.export
{
top: -60px;
}

.bticino_logo
{
	width: 100%;
}

.bticino_logo img
{
	width: 100%;
}

}

@media only screen and (max-width: 520px) {

.export{
top: -62px;
}
}

@media only screen and (max-width: 510px) {	
.naslov_tabele_tekst
{
	font-size: 11px;
}
	
.slika_nosac_7_modula_klon
{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	float: left;
	left: -80px;
	top: 60px;
}

.slika_nosac_4_modula_klon
{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	float: left;
	left: -45px;
	top: 25px;
}

.slika_nosac_3_modula_klon
{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	float: left;
	left: -30px;
	top: 10px;
}

.slika_nosac_2_modula_klon
{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	left: -10px;
	top: -15px;

}

.mesto_nosac
{
	min-height: 310px;
	margin-bottom: 20px;
}

.cenovnik_komplet_33_modula, .cenovnik_komplet_7_modula, .cenovnik_komplet_22_modula, .cenovnik_komplet_333_modula, .cenovnik_komplet_-_modula, .cenovnik_komplet_1_modula  
{
	top: 55px;;
}

.cenovnik_komplet_2_modula, .cenovnik_komplet_3_modula, .cenovnik_komplet_4_modula
{
	top: 45px;;
}


.kolicina_proizvoda {
	clear: both;
    float: left;
    left: 100px;
    top: -50px;
}

   margin: 10px 10px;
}

.shortText_2 { display: inline-block; }
.fullText_2 { display: none; }

.dugmad
{
	width: 60px;
}

}

@media only screen and (max-width: 440px) {
.bticino_logo
{
	width: 100%;
}

.export{
top: -67px;
}
}