// Header
//
// Style guide: components.head

// Banner page
//
// Design for banner inside website (not homepage)
//
// Markup:
// <div class="banner {{modifier_class}}">
//      <h1 class="banner__title">Title page</h1>
// </div>
//
// banner--no-gradient     - Banner without gradient
//
// Style guide: components.head.banner
@include block('banner') {
    background: url('../images/newsletter-bg.jpg') center center no-repeat /cover;
    position: relative;
    z-index: 1;
    padding-top: 75px;

    &:before  {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        @include gradient-lr($color-3, $color-4);
        opacity: 0.5;
    }

    + .section {
        p {
            font-size: 16px;
        }
    }

    // Element
    @include element('title') {
        text-align: center;
        padding: 80px 0;
        font-size: 50px;
        font-weight: 300;
        color: #fff;
        letter-spacing: 0.4px;
    }

    // Modifiers
    @include modifier('no-gradient') {
        padding: 100px 0;
        color: #fff;

        &::before  {
            background: transparent;
        }

        .banner__title {
            text-align: left;
            padding: 0;
        }
    }

    // Responsive
    @media screen and (max-width: 767px) {
        padding-top: 230px !important;
        padding-bottom: 30px !important;
    }

    @include modifier('burger') {
        @media screen and (max-width: 767px) {
            padding-top: 130px !important;
        }

        .banner__title {
            padding: 140px 0;

            @media screen and (max-width: 767px) {
                padding-top: 20px !important;
                padding-bottom: 20px !important;
                font-size: 35px;
            }
        }

        &.banner--no-gradient {
            padding-top: 190px;
            padding-bottom: 0;
            .banner__title {
                padding: 0;
            }
        }
    }
}