// Breadcrumb
//
// Design for breadcrumb on top page
//
// Markup:
// <ul class="breadcrumb">
//      <li><a href="#">Home</a></li>
//      <li><a href="#">Solutions</a></li>
//      <li class="active">Building solutions</li>
// </ul>
//
// Style guide: components.buttons.breadcrumb
@include block('breadcrumb') {
    background-color: transparent;
    padding: 8px 0;

    li {
        display: inline-block;
        color: #fff;
        position: relative;
        font-weight: 300;

        + li {
            &::before {
                content: "";
            }
        }

        a {
            @include ilioanimation(color, 0.3s);
            color: #fff;
            text-decoration: none;

            &:hover {
                color: $color-1;
            }
        }

        &.active {
            font-weight: 700;
            color: #fff;
        }
        &:not(:last-child) {
            padding-right: 20px;
            &:after {
                content: "\0041";
                font-family: 'lg icons';
                padding-left: 5px;
                color: #fff;
                font-size: 11px;
                position: absolute;
                right: 0;
                top: 3px;
            }
        }
    }
}

// Trail
//
// Design for a trail (mini-breadcrumb) on a page content
//
// Markup:
// <ul class="trail">
//      <li><a href="#">Level 0</a></li>
//      <li><a href="#">Level 1</a></li>
//      <li class="active">Level 2</li>
// </ul>
//
// Style guide: components.buttons.breadcrumb.trail
@include block('trail') {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        position: relative;
        font-weight: 300;

        + li {
            &:before {
                content: "";
                padding: 0 5px;
            }
        }

        a {
            @include ilioanimation(color, 0.3s);
            text-decoration: none;

            &:hover {
                color: $color-1;
            }
        }

        &.active {
            font-weight: 700;
        }
        &:not(:last-child) {
            padding-right: 20px;
            &:after {
                content: "\0041";
                font-family: 'lg icons';
                padding-left: 5px;
                font-size: 11px;
                position: absolute;
                right: 0;
                top: 3px;
            }
        }
    }
}