// Buttons
//
// Style guide: components.buttons

// General
//
// A majority of buttons in the site are built from the same base class.
//
// Markup:
// <a href="#" class="btn {{modifier_class}}">See more</a>
//
// :hover     - Highlight the button when hovered.
// .btn--no-color - Transparent button (white borders)
// .btn--no-bg-color - Transparent button (theme color)
// .btn--alt-color - Alternative background
// .btn--xmall - Small font size
// .btn--no-icon - Without icon
// .btn--arrow-left - Arrow on left side
//
// Style guide: components.buttons.style
@include block('btn') {
    color: #fff;
    background-color: $color-1;
    padding: 12px 48px 12px 24px;
    border-radius: 50px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;
    position: relative;

    font-size: 13px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.3px;
    min-width: 140px;
    text-align: left;

    @include shadow-small();
    @include ilioanimation(all, 0.3s);

    &:after {
        content:'\0041';
        display: inline-block;
        font-family: 'lg icons';
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
    }

    &:hover, &:focus {
        background: darken($color-1, 5%);
        color: #fff;
    }

    // Modifiers
    @include modifier('no-color') {
        background-color: transparent;
        border-color: #fff;
        letter-spacing: 0.6px;
        &:hover, &:focus {
            border-color: transparent;
        }
    }

    @include modifier('no-bg-color') {
        border-color: $color-1;
        color: $color-1;
        background-color: transparent;

        &:hover, &:focus {
            background-color: $color-1;
            color: #fff;
            border-color: $color-1;
        }
    }

    @include modifier('icon-right') {
        i {
            font-size: 12px;
            float: right;
            margin-left: 14px;
        }
    }

    @include modifier('alt-color') {
        background-color: $color-2;
    }

    @include modifier('inline') {
        margin-right: 10px;
    }

    @include modifier('xsmall') {
        font-size: 11px;
    }

    @include modifier('no-icon') {
        text-align: center;
        padding-right: 24px;
        &:after {
            content: none;
        }
    }

    @include modifier('short-width') {
        min-width: 110px;
    }

    @include modifier('large-width') {
        min-width: 160px;
    }

    @include modifier('arrow-left') {
        padding-left: 48px;
        padding-right: 24px;
        &:after {
            left: 24px;
            right: auto;
            -moz-transform: scaleX(-1) translateY(-50%);
            -o-transform: scaleX(-1) translateY(-50%);
            -webkit-transform: scaleX(-1) translateY(-50%);
            transform: scaleX(-1) translateY(-50%);
            filter: FlipH;
            -ms-filter: "FlipH";

        }
    }
}


// Rectangle
//
// A majority of buttons in the site are built from the same base class.
//
// Markup:
// <a href="#" class="btn-second {{modifier_class}}">See more</a>
//
// :hover     - Highlight the button when hovered.
// .btn-second--primary-color - Theme colors
// .btn-second--input - Buttons next to an input field
// .btn-second--medium - Smaller font-size and paddings
// .btn-second--medium-2 - Smaller font-size and paddings (v2)
// .btn-second--medium-3 - Smaller font-size and paddings (v3)
// .btn-second--square - Equal paddings
//
// Style guide: components.buttons.style2
@include block('btn-second') {
    color: #fff;
    padding: 5px 17px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.3px;
    @include ilioanimation(all, 0.3s);

    &:hover, &:focus {
        color: $color-1;
        border-color: #fff;
        background-color: #fff;
        text-decoration: none;
    }

    // Modifiers
    @include modifier('primary-color') {
        border: 1px solid $color-1;
        color: $color-1;
        background-color: transparent;

        &:hover {
            color: #fff;
            background-color: $color-1;
        }
    }

    @include modifier('inline') {
        &:not(:last-child) {
            margin-right: 15px;
        }

        @media screen and (max-width: 767px) {
            display: block;
            text-align: center;
            margin-bottom: 10px;
            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }

    @include modifier('input') {
        position: relative;
        font-size: 13px;
        line-height: 1;
        font-weight: 400;
        padding: 9px 40px;
        text-transform: none;
    }

    @include modifier('medium') {
        font-size: 13px;
        padding: 5px 12px;
    }

    @include modifier('medium-2') {
        font-size: 13px;
        padding: 3px 13px;
        letter-spacing: 1.6px;
        font-weight: 700;
    }

    @include modifier('medium-3') {
        font-size: 15px;
        padding: 4px 17px 3px 17px;
    }

    @include modifier('square') {
        font-size: 13px;
        font-weight: 400;
        padding: 10px;
    }
}


// More
//
// Buttons used in specific occasions.
// .btn-abs-more will be on bottom right of a block
// .btn-abs-more--static will make it a static element
// .btn-cta is used as cta in header burger
// .btn-cta--big is used as a bigger cta
//
// Markup:
// <div style="width: 200px; height: 200px; background: #dfdfdf; position: relative;">
//  <a href="#" class="btn-abs-more">See more</a>
// </div>
// <a href="#" class="btn-cta">See more</a>
// <a href="#" class="btn-cta btn-cta--big">See more</a>
//
//
// Style guide: components.buttons.style3
@include block('btn-abs-more') {
    font-size: 11px;
    position: absolute;
    bottom: 50px;
    right: 15px;
    color: #898989;
    text-transform: uppercase;
    @include ilioanimation(color, 0.3s);

    &:hover {
        text-decoration: none;
        color: $color-1;
    }

    @include modifier('static') {
        position: static;
    }
}

@include block('btn-cta') {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;

    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: white;
    margin: 0 !important;

    &:hover {
        text-decoration: none;
    }

    @include modifier('big') {
        font-size: 15px;
        margin-right: 20px !important;
    }

    @media screen and (max-width: 991px) {
        padding: 0 12px;
    }
}

// Link
//
// Design for link
//
// Markup:
// <a href="#" class="link {{modifier_class}}">
//    <i class="lgicon-arrow-right" aria-hidden="true"></i>
// </a>
//
// .link--vertical-center     - Center vertically
// .link--static     - In static position
// .link--download - For download link
// :hover     - Hover
//
// Style guide: components.buttons.link
@include block('link') {
    font-size: 14px;
    color: $color-1;
    position: absolute;
    bottom: 20px;
    right: 20px;
    @include ilioanimation(all, 0.3s);

    // Modifiers
    @include modifier('vertical-center') {
        @include verticalCenter();
        bottom: auto;
    }

    @include modifier('static') {
        position: static;
        margin-left: 20px;
    }

    @include modifier('download') {
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 0;
    }

    &:hover {
        right: 25px;
    }
}