// Cards
//
// Style guide: components.cards

// Card base
//
// We use this to design cards
//
// Markup:
// <div class="card {{modifier_class}}">
//      <img class="card__image" src="../../images/content/img1.jpg">
//      <div class="card__text card__text--spaced card__text--big">Work spaces</div>
//      <a href="#" class="btn card__link">View work spaces</a>
// </div>
// <div class="card no-shadow {{modifier_class}}">
//      <img class="card__image" src="../../images/content/img1.jpg">
//      <div class="card__text card__text--spaced-v card__text--big">
//          Work spaces
//          <a href="#" class="link link--vertical-center {{modifier_class}}">
//              <i class="lgicon-arrow-right" aria-hidden="true"></i>
//          </a>
//      </div>
// </div>
// <div class="card card--bg bg--gradient-1">
//      <div class="card__text card__text--white">Applications, Software & Configurators</div>
//      <a href="#" class="btn btn--no-color no-shadow">View work spaces</a>
// </div>
// <div class="card card--bg bg--gradient-2">
//      <div class="card__text card__text--white">Applications, Software & Configurators</div>
//      <a href="#" class="btn btn--no-color no-shadow">View work spaces</a>
// </div>
// <div class="card card--bg bg--gradient-3">
//      <div class="card__text card__text--white">Applications, Software & Configurators</div>
//      <a href="#" class="btn btn--no-color no-shadow">View work spaces</a>
// </div>
// <div class="card card--bg card--dark-layer" style="background-image:url('../../images/content/img11.jpg')">
//      <div class="card__text card__text--big text-white mb--20">Applications, Software & Configurators</div>
//      <a href="#" class="btn btn--no-color no-shadow">View work spaces</a>
// </div>
//<div class="bg--blue-1">
//    <a href="#" class="card--link card--link-large">
//        <div class="section__content--centered">
//            <h2 class="card__text card__text--xsmall text-color-1">Special offer</h2>
//            <h3 class="title title--medium title--light text-white">Promotion of the moment</h3>
//            <span class="link"><i class="lgicon-arrow-right"></i></span>
//        </div>
//    </a>
//</div>
//
// Style guide: components.cards.base

// Card text
//
// We use this to design card texts
//
// Markup:
// <div class="card__text {{modifier_class}}">Card title</div>
//
// .card__text--spaced - Bigger paddings
// .card__text--spaced-v - Bigger vertical paddings
// .card__text--big - Bigger font size, bolder
// .card__text--big-2 - Bigger font size, bolder (v2)
// .card__text--white - White alternative
// .card__text--xsmall - Smaller font size
// .card__text--link - Used as a link element
//
// Style guide: components.cards.text
@include block('card') {
    position: relative;
    margin-bottom: 50px;
    @include shadow();
    background-position: center center;
    background-size: cover;
    z-index: 1;

    img {
        display: inline-block;
    }

    // Elements
    @include element('image') {
        object-fit: cover;
        width: 100%;
    }

    @include element('text') {
        text-transform: uppercase;
        position: relative;
        color: $color-9;

        @include modifier('spaced') {
            padding: 38px 50px;
        }

        @include modifier('spaced-v') {
            padding-top: 29px;
            padding-bottom: 29px;
            padding-left: 40px;
            .link, .social {
                position: absolute;
                left: 0;
                right: auto;
                font-size: 30px;
                top: 42px;
            }

            .social {
                top: 23px;
            }

            .link-center {
                right: 40%;
            }

            @media screen and (max-width: 767px) {
                padding-right: 10px;
            }
        }

        @include modifier('spaced-v--arrow') {
            padding-left: 0;
            .link {
                font-size: 14px;
                left: auto;
                right: 0;
                top: auto;

                &.link--vertical-center {
                    top: 50%;
                }

                &.link--static {
                    position: static;
                }
            }
        }

        @include modifier('big') {
            font-size: 21px;
            line-height: 1;
            font-weight: 700;
        }

        @include modifier('big-2') {
            font-size: 18px;
            line-height: 1.5;
            font-weight: 700;
        }

        @include modifier('semilight') {
            font-weight: 400;
        }

        @include modifier('white') {
            font-size: 29px;
            text-transform: none;
            font-weight: 300;
            line-height: 1.2;
            margin-bottom: 43px;
            letter-spacing: 0.8px;
            color: #fff;

            @media screen and (max-width: 991px) {
                font-size: 24px;
            }
        }

        @include modifier('mb') {
            margin-bottom: 20px;
        }

        @include modifier('xsmall') {
            font-size: 11px;
            line-height: 1;
            font-weight: 700;
            letter-spacing: 1px;
        }

        @include modifier('link') {
            &:hover {
                text-decoration: none;
                color: currentColor;
            }
        }
    }

    @include element('link') {
        position: absolute;
        right: 15px;
        bottom: -20px;
    }

    // Modifiers
    @include modifier('bg') {
        color: #fff;
        text-align: center;
        padding: 50px 20px;
        background-color: #ebebeb;
    }

    @include modifier('dark-layer') {
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.3);
            z-index: -1;
        }
    }

    @include modifier('link') {
        .card {
            @include element('text') {
                -webkit-transition: color 0.3s ease;
                -moz-transition: color 0.3s ease;
                -ms-transition: color 0.3s ease;
                -o-transition: color 0.3s ease;
                transition: color 0.3s ease;
            }
        }

        &:hover {
            text-decoration: none;
            .card {
                @include element('text') {
                }
            }
        }
    }

    @include modifier('large') {
        min-height: 290px;
    }

    @include modifier('large-padding') {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    @include modifier('inline-block') {
        display: inline-block;
        .card {
            @include element('image') {
                width: auto;
                max-width: 100%;
            }
        }
    }

    @include modifier('image') {
        padding: 0;
        img {
            max-width: 100%;
            min-height: 300px;
            opacity: 0;
        }
    }
}

// Card link
//
// We use this for cards used as link
//
// Markup:
// <div class="card-link {{modifier_class}}">
//     <i class="lgpicto--big text-white lgicon-btn-housebold"></i>
//     <h2 class="title title--transform-none title--light text-white mb--40">Residential</h2>
//     <a href="#" class="btn btn--no-color btn--icon-right no-shadow">Discover</a>
// </div>
//
// .card-link--medium - Medium height
// .card-link--large - Large height
//
// Style guide: components.cards.link
@include block('card-link') {
    @include modifier('medium') {
        position: relative;
        display: block;
        min-height: 150px;
        text-align: center;

        .link {
            i {
                font-size: 10px;
            }
        }
    }

    @include modifier('large') {
        position: relative;
        display: block;
        min-height: 200px;
        padding: 40px;
        text-align: center;

        .link {
            position: static;
            float: right;
            margin-right: 45px;
            i {
                font-size: 10px;
            }
        }
    }
}

// Card bordered
//
// We use this for cards with borders
//
// Markup:
// <div class="container">
//     <div class="row">
//         <div class="col-md-4 col-sm-6 col-xs-12 card-bordered">
//             <a href="#" class="card-link--medium">
//                 <div class="section__content--centered">
//                     <h4 class="title title--xsmall text-color-1 mb--10 mt--50">I am a</h4>
//                     <h5 class="title title--medium title--light" data-eq="home-customize-title">
//                         Contractor<br>or integrator
//                     </h5>
//                     <span class="link"><i class="lgicon-arrow-right"></i></span>
//                 </div>
//             </a>
//         </div>
//     </div>
// </div>
//
// Style guide: components.cards.bordered
@include block('card-bordered') {
    &:nth-child(3n + 1) {
        border-right: 1px solid #c4c4c4;
        @media screen and (max-width: 991px) {
            border-right: none;
        }
    }

    &:nth-child(3n+3) {
        border-left: 1px solid #c4c4c4;
        @media screen and (max-width: 991px) {
            border-left: none;
        }
    }

    &:not(:nth-last-child(-n+3)) {
        border-bottom: 1px solid #c4c4c4;
    }

    @media screen and (max-width: 991px) {
        border-bottom: 1px solid #c4c4c4;
    }

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            border-bottom: 1px solid #c4c4c4;
        }
    }
}

// Timeline
//
// Timeline alternate left right
//
// Markup:
// <ul class="timeline">
// <li>
//     <div class="title">
//         <div class="title--small text-color-1">1850-1900</div>
//         Title level 3 - 1
//     </div>
//     <p class="para--border-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident vitae molestiae, necessitatibus itaque, omnis</p>
//     <img class="img-responsive mb--15" srcset="../../images/content/img3.jpg">
//     <a href="#" class="social-labeled">
//         <span class="social social--inline social--neg">
//             <i class="fa fa-download" aria-hidden="true"></i>
//         </span>
//         <span class="social-labeled__label text-color-11">
//             Download<br>
//             image hd
//         </span>
//     </a>
// </li>
// <li class="timeline-inverted">
//     <div class="title">
//         <div class="title--small text-color-1">1850-1900</div>
//         Title level 3 - 1
//     </div>
//     <p class="para--border-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident vitae molestiae, necessitatibus itaque, omnis</p>
//     <img class="img-responsive mb--15" srcset="../../images/content/img3.jpg">
//     <a href="#" class="social-labeled">
//         <span class="social social--inline social--neg">
//             <i class="fa fa-download" aria-hidden="true"></i>
//         </span>
//         <span class="social-labeled__label text-color-11">
//             Download<br>
//             image hd
//         </span>
//     </a>
// </li>
// <li>
//     <div class="title">
//         <div class="title--small text-color-1">1850-1900</div>
//         Title level 3 - 1
//     </div>
//     <p class="para--border-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident vitae molestiae, necessitatibus itaque, omnis</p>
//     <img class="img-responsive mb--15" srcset="../../images/content/img3.jpg">
//     <a href="#" class="social-labeled">
//         <span class="social social--inline social--neg">
//             <i class="fa fa-download" aria-hidden="true"></i>
//         </span>
//         <span class="social-labeled__label text-color-11">
//             Download<br>
//             image hd
//         </span>
//     </a>
// </li>
// <li class="timeline-inverted">
//     <div class="title">
//         <div class="title--small text-color-1">1850-1900</div>
//         Title level 3 - 1
//     </div>
//     <p class="para--border-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident vitae molestiae, necessitatibus itaque, omnis</p>
//     <img class="img-responsive mb--15" srcset="../../images/content/img3.jpg">
//     <a href="#" class="social-labeled">
//         <span class="social social--inline social--neg">
//             <i class="fa fa-download" aria-hidden="true"></i>
//         </span>
//         <span class="social-labeled__label text-color-11">
//             Download<br>
//             image hd
//         </span>
//     </a>
// </li>
// </ul>
//
// Style guide: components.cards.timeline
@include block('timeline') {
    list-style: none;
    padding: 10px 0;
    position: relative;

    &::before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 2px;
        background: #ffffff;
        left: 50%;
        margin-left: -1.5px;
    }

    li {
        border-right: 1px solid #dcdcdc;
        padding: 0 50px 100px 15px;
        position: relative;
        width: 50%;
        float: left;
        clear: left;

        &:nth-child(2) {
            margin-top: 250px;
        }

        &::after {
            content: '';
            position: absolute;
            right: -3px;
            top: 28px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $color-1;

            @media screen and (max-width: 767px) {
                content: none;
            }
        }

        &::before {
            content: " ";
            display: table;
        }

        &.timeline-inverted {
            border: none;
            padding: 0 15px 100px 50px;
            float: right;
            clear: right;

            &::after {
                right: auto;
                left: -3px;
            }
        }
    }

    @media screen and (max-width: 767px) {
        &:before {
            left: 40px;
        }

        & > li {
            position: relative;
            clear: left;
            border: 0;

            width: 100%;
            float: none;
            padding: 0;
            margin-top: 0;
            margin-bottom: 30px;
        }

        & > li.timeline-inverted {
            clear: left;
            margin-bottom: 30px;

            width: 100%;
            float: none;
            padding: 0;
            margin-top: 0;
        }
    }
}