.customize-menu {
    margin-top: 26px;
    padding-top: 44px;
    padding-left: 18px;

    position: absolute;
    opacity: 0;
    visibility: hidden;

    // Elements
    @include element('label') {
        font-size: 12px;
        line-height: 1;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: white;
        margin-bottom: 13px;
    }

    @include element('nav') {
        padding: 0;
        list-style-type: none;
        li {
            &:last-child {
                a {
                    padding-bottom: 0;

                    @media screen and (max-width: 767px) {
                        padding-bottom: 19px;
                    }
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid rgba(white, 0.5);
            }

            a {
                position: relative;
                font-size: 18px;
                line-height: 1;
                font-weight: normal;
                color: white;
                display: block;
                padding: 19px 40px 19px 0;
                transition: all 0.3s ease;

                &:hover {
                    color: white;
                    text-decoration: none;
                    padding-left: 20px;

                    &:before {
                        left: 10px;
                    }
                }

                &:before {
                    content: '-';
                    position: absolute;
                    left: -10px;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -ms-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }

                &:after {
                    content: '\0041';
                    font-family: 'lg icons';
                    font-style: normal;
                    font-weight: normal;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 12px;
                    position: absolute;
                    top: 50%;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    right: 20px;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }
    }

    // Modifiers
    @include modifier('active') {
        position: static;
        opacity: 1;
        visibility: visible;

        &:before {
            content: '';
            position: absolute;
            top: 74px;
            left: 0;
            right: -9999px;
            border-bottom: 1px solid white;
            z-index: 1;
        }
    }

    @include modifier('burger') {
        top: 50px;
        margin-top: 0;
        padding-top: 145px;
        padding-bottom: 145px;
        padding-left: 95px;
        z-index: 3;
        background: rgba(black, 0.4);

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        // Calculate placement
        $windowWidth: 100%;
        $containerWidth: 1170px;
        $btnWidth: 315px;
        $wantedSpace: 60px;
        $leftFixer: $containerWidth - $btnWidth - $wantedSpace;

        left: calc(((#{$windowWidth} - #{$containerWidth}) / 2) + #{$leftFixer});
        right: 0;

        @media screen and (max-width: 1199px) {
            $containerWidth: 970px;
            $leftFixer: $containerWidth - $btnWidth - $wantedSpace;
            left: calc(((#{$windowWidth} - #{$containerWidth}) / 2) + #{$leftFixer});
        }

        @media screen and (max-width: 991px) {
            $containerWidth: 750px;
            $leftFixer: $containerWidth - $btnWidth - $wantedSpace;
            left: calc(((#{$windowWidth} - #{$containerWidth}) / 2) + #{$leftFixer});
        }

        @media screen and (max-width: 767px) {
            left: 0;
        }

        .customize-menu {
            @include element('nav') {
                width: 380px;
                max-width: 100%;
                li {
                    &:last-child {
                        a {
                            padding-bottom: 19px;
                        }
                    }
                }

                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }
        }

        &.customize-menu--active {
            position: absolute;

            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;

            &:before {
                content: '';
                border-bottom: none;
            }
        }
    }

    // Responsive
    @media screen and (max-width: 767px) {
        padding-top: 110px;
        padding-left: 20px;
        padding-right: 20px;
    }
}