.f-links {
    background: #fcfcfc;
    padding-bottom: 22px;
    padding-top: 46px;
    ul {
        list-style-type: none;
        border-left: 1px solid #a5a5a5;
        padding-left: 16px;
        padding-bottom: 28px;
        li {
            font-size: 15px;
            line-height: 1.2;
            text-transform: uppercase;

            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }

        @media screen and (max-width: 991px) {
            padding-left: 0;
            border-left: 0;
        }
    }

    @include element('image') {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 991px) {
            margin-bottom: 30px;
        }
    }

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.f-link {
    @include element('link') {
        font-weight: 500;
        color: $color-9;
        line-height: 1;
        -webkit-transition: color 0.3s, font-weight 0.3s;
        -moz-transition: color 0.3s, font-weight 0.3s;
        -ms-transition: color 0.3s, font-weight 0.3s;
        -o-transition: color 0.3s, font-weight 0.3s;
        transition: color 0.3s, font-weight 0.3s;

        &:hover {
            text-decoration: none;
            font-weight: 700;
            color: #e9676a;
        }

        @include modifier('big') {
            font-size: 20px;
            font-weight: 700;
            color: $color-3;
        }
    }
}

.f-social {
    background: $color-8;
    padding: 20px 0;

    @include element('label') {
        font-size: 15px;
        line-height: 1;
        font-weight: 500;
        color: $color-11;
        text-transform: uppercase;
        margin-right: 16px;
    }

    @include element('link') {
        font-size: 12px;
        line-height: 1;
        color: #8e8e8e;
        text-transform: uppercase;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;

        &:after {
            content: '.';
            margin-left: 10px;
            margin-right: 8px;
        }

        &:hover {
            text-decoration: none;
            color: $color-11;
            &:after {
                color: #8e8e8e;
            }
        }

        @include modifier('big') {
            font-size: 15px;
            font-weight: 700;
            color: $color-11;
            margin-right: 0;
            &:after {
                content: none;
            }
        }

        @include modifier('first') {
            margin-left: 20px;
        }

        @include modifier('last') {
            margin-right: 20px;
            &:after {
                content: none;
            }
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    @include element('social-medias') {
        @media screen and (max-width: 991px) {
            margin-bottom: 20px;
        }
    }

    @include element('social-links') {
        @media screen and (max-width: 991px) {
            text-align: center;
        }
    }
}