// Forms
//
// Weight: 1
//
// Styleguide components.forms

// Checkbox
//
// Design of checkbox
//
// Markup:
// <p>
//    <input type="checkbox" id="check1" checked>
//    <label for="check1">Check me !</label>
// </p>
// <p>
//    <input type="checkbox" id="check2">
//    <label for="check2">Check me !</label>
// </p>
//
// Style guide: components.forms.checkbox
/*** custom checkboxes ***/
input[type=checkbox] {
    display: none;
}

/* to hide the checkbox itself */
input[type=checkbox] + label:before {
    display: inline-block;
}

input[type=checkbox] + label {
    font-weight: 400;
    cursor: pointer;
    font-size: 15px;
}

input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid $color-1;
    border-radius: 2px;
    margin-right: 15px;
    position: relative;
    top: 1px;
}

input[type=checkbox]:checked + label:before { /* checked icon */
    background-color: $color-1;
}

// Textarea
//
// Design of textarea
//
// Markup:
// <textarea placeholder="Placeholder text!">
// </textarea>
//
// Style guide: components.forms.textarea
textarea {
    background: none;
    width: 100%;
    border: 1px solid $color-1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px;
    min-height: 200px;

    font-size: 13px;
    color: $color-9;
    font-style: normal;
    font-weight: 400;

    @include placeholder {
        font-size: 13px;
        color: $color-9;
        font-style: normal;
        font-weight: 400;
    }
}

// Radio
//
// Design of radio
//
// Markup:
// <div class="radio">
//   <input id="male" type="radio" name="gender" value="male">
//   <label for="male">Male</label>
//   <input id="female" type="radio" name="gender" value="female">
//   <label for="female">Female</label>
// </div>
//
// Style guide: components.forms.radio
.radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

input[type=radio] {
    display: none;
}

.radio label:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 4px;
    border: 2px solid $color-1;
    border-radius: 10px;
    @include ilioanimation(all, 0.2s);
}

input[type=radio]:checked + label:before {
    content: "";
    display: block;
    background-color: $color-1;
}

// Select
//
// Design of select
//
// Markup:
// <label class="select">
//      <select>
//          <option value="0">option 1</option>
//          <option value="1">option 2</option>
//          <option value="2">option 3</option>
//      </select>
// </label>
//
// Style guide: components.forms.select

select {
    background: none;
    width: 100%;
    height: 38px;
    padding: 0 20px;
    border: 0;
    font-size: 13px;
    color: #3c3535;
    font-weight: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select {
    margin-bottom: 30px;
    width: 100%;
    border: 1px solid $color-1;
    overflow: hidden;
    height: 40px;
    position: relative;
    display: block;

    &:after {
        content: "\0041";
        font-family: "lg icons";

        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: rotate(90deg) translateX(-50%);
        -moz-transform: rotate(90deg) translateX(-50%);
        -ms-transform: rotate(90deg) translateX(-50%);
        -o-transform: rotate(90deg) translateX(-50%);
        transform: rotate(90deg) translateX(-50%);

        font-size: 11px;
        color: $color-1;
        padding: 9px 12px;
        text-align: center;
        pointer-events: none;
        box-sizing: border-box;

        z-index: 1;
    }

    @include modifier('primary') {
        select {
            font-weight: 700;
            font-style: italic;
            color: $color-1;
        }
    }
}


// Input
//
// Design of input
//
// Markup:
// <input class="lg-input {{modifier_class}}" type="text" placeholder="value..." />
//
// .lg-input--primary     - Input with primary color
// .lg-input--no-round     - Input with no round border
//
// Style guide: components.forms.input
.lg-input {
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
    font-style: italic;
    color: $color-9;
    border-radius: 30px;
    padding: 10px 30px;
    width: 100%;
    margin-bottom: 20px;

    @include placeholder {
        font-size: 14px;
        font-style: italic;
        color: #848484;
    }

    // Modifiers
    @include modifier('primary') {
        border: 1px solid $color-1;
        color: $color-1;
        font-size: 13px;
        font-weight: 700;
        background: none;
        padding: 10px 20px;

        @include placeholder {
            color: $color-1;
            font-size: 13px;
            font-weight: 700;
        }
    }

    @include modifier('dark-text') {
        color: $color-9;
        font-style: normal;
        font-weight: 400;
        @include placeholder {
            color: $color-9;
            font-style: normal;
            font-weight: 400;
        }
    }

    @include modifier('no-round') {
        border-radius: 0;
    }
}

// Input with submit
//
// Design of input submit
//
// Markup:
// <div class="input-wrapper">
//     <input type="text" placeholder="Search for..." />
//     <input type="submit" value="GO">
// </div>
//
// Style guide: components.forms.input-submit
@include block('input-wrapper') {
    border: 1px solid $color-1;
    display: inline-block;
    input, button {
        font-size: 13px;
        color: $color-1;
        padding: 9px 20px;
        background-color: transparent;
        border: 0;
    }
    input {
        @include placeholder {
            font-size: 13px;
            color: $color-1;
        }
    }
}

