@include block('hover-header') {
    overflow: hidden;
    position: absolute;
    left: 0;
    z-index: 3;
    top: 100%;
    width: 100%;

    @include element('bg') {
        @media screen and (max-width: 767px) {
            padding: 0;
        }
    }

    @include block('header-search') {
        padding-top: 18px;
        padding-bottom: 18px;
        background: rgba(255, 255, 255, 0.7);

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            left: -100%;
            top: 0;
            bottom: 0;
            margin-right: -9999px;
            z-index: -1;
            background: rgba(255, 255, 255, 0.7);
        }

        @include element('field') {
            width: 100%;
            border: none;
            background-color: transparent;

            font-size: 24px;
            font-weight: 300;
            font-style: italic;
            color: #979797;

            @media screen and (max-width: 1199px) {
                font-size: 18px;
            }
            @include placeholder {
                font-size: 24px;
                font-weight: 300;
                font-style: italic;
                color: #979797;

                @media screen and (max-width: 1199px) {
                    font-size: 18px;
                }
            }
        }
        @include element('submit') {
            background-color: transparent;
            border: none;
            border-left: 1px solid;
            font-size: 24px;
            font-weight: 300;
            color: #979797;
            @media screen and (max-width: 1199px) {
                font-size: 18px;
            }
        }

        @media screen and (min-width: 992px) {
            height: 65px;
        }

        @media screen and (min-width: 1200px) {
            height: 75px;
        }

    }

    @include block('header-customiz') {
        padding-top: 25px;
        padding-bottom: 26px;
        padding-left: 40px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            opacity: 1;

            @include gradient-lr($color-1b, $color-2);
        }

        &:after {
            position: absolute;
            content: "";
            right: 0;
            left: 100%;
            width: 9999px;
            opacity: 1;
            background-color: $color-2;
            display: inline-block;
            bottom: 0;
            top: 0;
        }

        > a {
            font-size: 24px;
            text-transform: none;
            letter-spacing: 0.6px;
            display: flex;
            align-items: center;
            margin-bottom: 0;

            &:after {
                content: "\0041";
                font-family: "lg icons";
                font-size: 11px;

                position: absolute;
                right: 0;
                top: 33px;
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);

                @media screen and (max-width: 767px) {
                    right: 20px;
                }
            }

            &:hover, &:focus {
                color: #fff;
                text-decoration: none;
            }

            i {
                font-size: 16px;
                margin-right: 12px;
            }

            @media screen and (max-width: 1199px) {
                font-size: 16px;
            }
        }

        @media screen and (max-width: 1199px) {
            padding-bottom: 22px;
        }

        @media screen and (max-width: 767px) {
            padding-left: 20px;
        }
    }

    @include modifier('small') {
        position: static;
        width: 300px;

        .header-search {
            height: 50px;
            padding-top: 0;
            padding-bottom: 0;
            background: rgba(255, 255, 255, .2);
            @include element('field') {
                height: 50px;
                width: 75%;
                width: calc(100% - 65px);
                padding-left: 25px;
                padding-right: 10px;
                font-size: 15px;
                font-weight: 300;
                font-style: italic;
                color: white;
                @include placeholder {
                    font-size: 15px;
                    font-weight: 300;
                    font-style: italic;
                    color: white;
                }
            }

            @include element('submit') {
                height: 50px;
                width: 60px;

                font-size: 18px;
                font-weight: 300;
                color: white;
            }
        }
    }

    @media screen and (max-width: 767px) {
        top: 84px;
    }
}

@include block('topheader') {
    background-color: $color-5;
    padding: 9px 0;
    font-size: 13px;
    color: #fff;

    a {
        color: #fff;
        margin-right: 15px;
        font-weight: 500;

        @media screen and (max-width: 1199px) {
            font-size: 10px;
        }

        @media screen and (max-width: 991px) {
            margin-right: 12px;
        }
    }

    .navbar-right {
        a {
            font-size: 15px;
            font-weight: 500;
        }
    }

    // Header
    .lgpicto {
        line-height: 1;
        margin-top: 3px;
        margin-right: 5px;
        float: left;

        &.lgicon-btn-contact {
            margin-top: 0;
            font-size: 16px;
            position: relative;
            top: 1px;

            @media screen and (max-width: 991px) {
                font-size: 13px;
            }
        }
    }

    // Header - burger
    .btn-cta {
        .lgpicto {
            margin-top: 0;
            margin-right: 5px;
            float: none;
            position: relative;
            top: 2px;
            &.lgicon-btn-contact {
                font-size: 22px;
                top: 6px;
            }
        }
    }

    @include element('search-btn') {
        position: relative;
        display: inline-block;
        min-width: 75px;
        height: 100%;
        border-left: 1px solid rgba(white, 0.5);
        margin: 0 !important;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }

    @include element('search-container') {
        position: relative;
        ul {
            display: none;
            position: absolute;
            left: -300px;
            top: 0;
            width: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;

            li {
                display: inline-block;
                float: none;
                background-color: $color-1;
            }
        }

        &:hover {
            ul {
                display: block;
            }
        }

        .header-search {
            &:before {
                content: none;
            }
        }
    }

    @include element('list') {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            float: left;
            height: 50px;

            &:hover {
                .topheader__dropdown {
                    display: block;
                }
            }
        }

        a {
            display: inline-block;
        }
    }

    @include element('dropdown') {
        display: none;

        position: fixed;
        left: 0;
        top: 50px;
        width: 100%;

        background-color: $color-13;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        li {
            display: inline-block;
            float: none;
            a {
                font-size: 15px;
                font-weight: 500;
                text-transform: uppercase;
                padding: 15px 30px;
                margin: 0;
            }
        }
        &:hover {
            display: block;
        }
    }

    // Modifiers
    @include modifier('transparent') {
        background-color: rgba(white, .3);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        padding: 0;
    }
}

@include block('carousel') {
    @include block('item') {
        padding: 150px 0;
    }

    &.no-padding {
        @include block('item') {
            padding: 0;
        }
    }

    .item img {
        width: 100%;
    }

    @include block('bg-slider') {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slider-text {
        padding: 60px 60px 60px 0;
        &::before {
            content: '';
            left: 0;
            top: 0;
            right: 0;
            background-color: rgba(255, 255, 255, 0.7);
            position: absolute;
            height: 100%;
            margin-left: -9999px;
            z-index: -1;
        }
    }

    @include modifier('large-top') {
        .item {
            padding-top: 370px;

            @media screen and (max-width: 767px) {
                padding-top: 220px;
            }
        }
    }
}

.carousel-indicators li {
    background-color: white;
}

.carousel-indicators .active {
    background-color: $color-1;
    border-color: $color-1;
}

.nav > li > a {
    padding: 5px;
    &:hover {
        text-decoration: none;
        background-color: transparent;
    }
}

.nav .open > a:focus {
    text-decoration: none;
    background-color: transparent;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb
*/
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}