.header-burger {
    a {
        display: block;
        padding: 22px 10px;
        font-size: 18px;
        color: white;
        -webkit-transition: background 0.3s ease;
        -moz-transition: background 0.3s ease;
        -ms-transition: background 0.3s ease;
        -o-transition: background 0.3s ease;
        transition: background 0.3s ease;
        &:hover {
            background: rgba(255, 255, 255, .5);
            text-decoration: none;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    li {
        &:not(:last-child) {
            a {
                border-bottom: 1px solid rgba(white, 0.5);
            }
        }
    }

    @include element('head') {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        padding-top: 40px;
        z-index: 4;

        @media screen and (max-width: 767px) {
            top: 0;
            padding-top: 0;
        }
    }

    @include element('trigger') {
        z-index: 4;
        margin-left: 54px;
        padding: 0 !important;

        span {
            width: 25px;
            height: 2px;
            display: block;
            background: white;

            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &:not(:last-child) {
                margin-bottom: 7px;
            }
        }

        &:hover {
            background: none !important;
        }

        @include modifier('active') {
            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(1) {
                -webkit-transform: translateY(11px) rotate(45deg);
                -ms-transform: translateY(11px) rotate(45deg);
                -o-transform: translateY(11px) rotate(45deg);
                transform: translateY(11px) rotate(45deg);
            }

            span:nth-child(3) {
                -webkit-transform: translateY(-7px) rotate(-45deg);
                -ms-transform: translateY(-7px) rotate(-45deg);
                -o-transform: translateY(-7px) rotate(-45deg);
                transform: translateY(-7px) rotate(-45deg);
            }
        }
    }

    @include element('dropdown') {
        @include gradient-lr($color-1, $color-2);
        position: absolute;
        z-index: 3;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 160px;

        visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
        -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
        transition: transform 0.5s 0s, visibility 0s 0.5s;

        @include modifier('active') {
            visibility: visible;
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0s;
            -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0s;
            transition: transform 0.5s 0s, visibility 0s 0s;
            -webkit-overflow-scrolling: touch;
        }

        @media screen and (max-width: 767px) {
            top: 0;
        }
    }

    @include element('content') {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
        padding-top: 50px;

        ul {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
            transition: transform 0.3s;
            padding-top: 50px;
        }

        a, ul a {
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: background 0.3s, opacity 0.3s, -webkit-transform 0.3s;
            -moz-transition: background 0.3s, opacity 0.3s, -moz-transform 0.3s;
            transition: background 0.3s, opacity 0.3s, transform 0.3s;

            @media screen and (max-width: 767px) {
                padding-left: 20px;
            }
        }

        @media screen and (max-width: 767px) {
            padding-top: 0;
        }
    }

    @include element('picto') {
        position: relative;
        margin-right: 10px;
        top: 5px;
        font-size: 22px;
    }

    @include element('customize-btn') {
        font-size: 20px !important;
        font-weight: 300;
        padding: 6px 20px !important;
        border: 1px solid white;

        .lgpicto {
            font-size: 16px;
            margin-right: 12px;
            position: relative;
            top: 1px;
        }

        &:hover, &:focus {
            text-decoration: none;
        }
    }

    @include element('logo') {
        &:hover {
            background: none !important;
        }
    }

    @include element('wrapper') {
        @media screen and (max-width: 767px) {
            display: block;
        }
    }

    @include element('top-wrapper') {
        @media screen and (max-width: 767px) {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
    }
}

.no-overflow {
    .header-burger__head {
        @include gradient-lr($color-1, $color-2);
        padding-bottom: 1px;
    }

    .header-burger__dropdown {
        overflow: auto;
    }
}

.burger-dropdown {
    @include modifier('hidden') {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);

        > li {
            > a {
                opacity: 0;
            }
        }
    }

    @include modifier('move-out') {
        > li {
            > a {
                webkit-transform: translateX(100%);
                -moz-transform: translateX(100%);
                -ms-transform: translateX(100%);
                -o-transform: translateX(100%);
                transform: translateX(100%);
                opacity: 0;
            }
        }
    }
}

.burger-has-children, .burger-back, .burger-see-all {
    > a {
        position: relative;

        &:after {
            content: '\0041';
            font-family: 'lg icons';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 12px;
            position: absolute;
            top: 50%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }
}

.burger-has-children {
    > a {
        padding-right: 40px;

        &:after {
            right: 20px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}

.burger-back {
    > a {
        padding-left: 40px;

        &:after {
            left: 20px;

            // Reverse arrow
            -moz-transform: scaleX(-1) translateY(-50%);
            -o-transform: scaleX(-1) translateY(-50%);
            -webkit-transform: scaleX(-1) translateY(-50%);
            transform: scaleX(-1) translateY(-50%);
        }

        @media screen and (max-width: 767px) {
            padding-left: 40px !important;
        }
    }
}

.burger-see-all {
    > a {
        padding-right: 40px;
        background: rgba(255, 255, 255, .5);
        &:after {
            right: 20px;

            // Rotate arrow down
            -moz-transform: rotate(90deg) translateX(-50%);
            -o-transform: rotate(90deg) translateX(-50%);
            -webkit-transform: rotate(90deg) translateX(-50%);
            transform: rotate(90deg) translateX(-50%);
        }

        @media screen and (max-width: 767px) {
            padding-right: 40px !important;
        }
    }
}