$modal-pink: #ed2d60;
$modal-blue: #4ba7e0;

// Vertically center modal
@include block('modal') {
    &.in {
        .modal-dialog {
            transform: translateY(-50%);
            top: 50%;
        }
    }

    .modal-dialog {
        transform: translateY(-50%);
        top: 50%;
    }
}

// Style default modal dialog
@include block('modal-dialog') {
    @include block('modal-content') {
        background: #ffffff;
        border-radius: 0;
        border: 5px solid #f0f0f0;
    }

    @include block('close') {
        opacity: 1;
    }

    @include block('modal-header') {
        border: none;
    }

    @include block('modal-body') {
        color: #6a6a6a;
        font-size: 18px;
        line-height: 1.6;
    }

    @include block('text-color-modal') {
        color: $modal-pink;
    }

    @include element('title') {
        font-family: $font-body;
        font-size: 32px;
        line-height: 1;
        font-weight: 500;
        text-transform: uppercase;
        color: #414042;
    }

    @include element('icon') {
        font-size: 36px;
        margin-bottom: 40px;
        @include modifier('error') {
            color: $modal-pink;
        }

        @include modifier('success') {
            color: $modal-blue;
        }
    }
}

// Modal background
@include block('modal-backdrop') {
    background-color: $color-11;
}

// Modal with image
@include block('modal-image') {
    .modal-dialog {
        .modal-content {
            border: none;
        }

        .modal-header {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;

            .close {
                width: 40px;
                height: 40px;
                background: $color-11;
                border-radius: 50%;
                border: 3px solid white;
                position: relative;

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);

                    font-size: 14px;
                    line-height: 1;
                    color: white;
                    text-shadow: none;
                }
            }
        }

        .modal-body {
            padding: 0;
            font-size: 14px;
            line-height: 1.6;
            color: #3c3535;
        }
    }

    @include element('content') {
        padding: 30px;
    }
}