@include block('section') {
    padding: 70px 0 65px 0;

    // Elements
    @include element('header') {
        margin-bottom: 45px;
        text-align: center;
        padding: 0 15px;
    }

    @include element('content') {
        @include modifier('centered') {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            .title {
                margin-bottom: 20px;
            }
        }
    }

    @include element('iframe') {
        @media screen and (max-width: 767px) {
            * {
                width: 100% !important;
            }
        }
    }

    @include element('separator') {
        @include modifier('right') {
            border-right: 1px solid #c4c4c4;
            @media screen and (max-width: 991px) {
                border-right: none;
            }
        }
    }

    // Modifiers
    @include modifier('lightgrey') {
        background: #f5f5f5;
        &:before, &:after {
            background: #f5f5f5;
        }
    }

    @include modifier('grey') {
        background: #f3f2f1;
        &:before, &:after {
            background: #f3f2f1;
        }
    }

    @include modifier('darkgrey') {
        background: #e2e2e2;
        &:before, &:after {
            background: #e2e2e2;
        }
    }

    @include modifier('small-top-padding') {
        padding-top: 20px;
    }

    @include modifier('bg') {
        position: relative;
        min-height: 590px;
        background-size: cover;
        background-position: center center;

        @media screen and (max-width: 767px) {
            min-height: 300px;
        }
    }

    @include modifier('quote') {
        min-height: 490px;
    }

    @include modifier('newsletter') {
        background: url('../images/newsletter-bg.jpg') center center no-repeat /cover;
        padding: 80px 0 95px 0;
    }

    @include modifier('no-padding') {
        padding: 0;
    }

    @include modifier('media') {
        padding-bottom: 3px;
    }

    @include modifier('no-padding-bottom') {
        padding-bottom: 0;
    }

    @include modifier('bg-continious-right') {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            left: 100%;
            top: 0;
            height: 100%;
            width: 9999px;
            z-index: 1;
        }
    }

    @include modifier('bg-continious-left-bs') {
        &:before {
            content: '';
            position: absolute;
            left: -15px;
            top: 0;
            height: 100%;
            width: 15px;

            @media screen and (max-width: 991px) {
                left: -100%;
                width: 100%;
                right: 100%;
            }
        }
    }

    @include modifier('no-overflow') {
        overflow: hidden;
    }

    @include modifier('bg-gradient-2') {
        position: relative;
        z-index:1;
        background-size: cover;
        background-position: center center;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;

            @include gradient-lr($color-4, $color-3);
            opacity: 0.8;
        }
    }
}

.article-container {
    margin-bottom: 30px;
    padding: 30px 0;

    @include modifier('small-padding') {
        padding: 15px 0;
    }
}