#registracija{
    width:auto;
    margin:2% 35%;
    padding:1% 5%;
    background: #e7fff5;
    border:2px solid #15998c;
    border-radius:3%;
    font-size:12px;

}
/*==================forms====================*/
form { clear:right; width:100%; overflow:hidden; padding:15px 0 0 0;}
fieldset { border:none; float:left; }
form .field { clear:both; padding:10px;}
form input { width:260px; padding:1px 0 1px 3px; border:1px solid #c2afa3; color:#70635b;}


input, select, textarea { font-family:Tahoma, Geneva, sans-serif; font-size:1em;}
input, select { vertical-align:middle; font-weight:normal;}
img {border:0; vertical-align:top; text-align:left;}
object { vertical-align:top;}


p { margin-bottom:14px; line-height: 20px;}

.dugme_potvrdi{
    color: black;
    font-size: 14px;
    background-color: #15998c;
}

