html
{
height: 100%;
}

body 
{
	height: 100%;
}

.razmak123
{
	display: block;
	overflow: hidden;
	height: 10px;
	width: 100%;
	
}

th {
  background-color: #E5E4E2;
  color: #993300;
  height: 20px;
  vertical-align: middle;
}

.leva {
	/*kod da linija bude unutar div-a */
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    float:left; 
    width: 50%;
    min-height: 100%;
	padding-left: 3px;
	padding-right: 2px;
	padding-bottom: 10px;
	border-right: 0.5px solid #f5f5f5;
	background-color: #fff;
}

/*BTICINO KONTEJNER*/
.bticino_container
{
	width: 100%;
	margin-top: 10px;
	display: inline-block;
}

.bticino_logo
{
	width: 45%;
	float: left;
}

.bticino_logo img
{
	width: 90%;
	height: auto;
}
.bticino_levi
{
	float: left;
	width: 55%;
	padding-top: 5px;
}

.levi_podmeni{
	width: 100%;
}

.levi_podmeni a:hover
{
	background-color: #2980B9;
}


/*JEZICI NAVIGACIJA*/

.lang
{
	padding: 3px;
}

.flag 
{
	height: 15px;
	width: 23px;
}

.lang:hover
{
	background-color: #66CC00;
} 

.jezik_navigacija{
	position: relative;
	top: 10px;
	background-color: darkgrey;
	height: 27px;
	float:right;
	overflow: hidden;
}

#podaci_mehanizma_1_modula
{
	width: 70%;
}

#podaci_mehanizma_2_modula
{
	width: 55%;
}

.desna {
	/*kod da linija bude unutar div-a */
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    float:right; 
    width: 50%;
    min-height: 100%;
	background-color: white;
	top: 3px;
}


/* NAVIGACIONI MENI*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	list-style-type: none;
    float: left;
	cursor:pointer;
	display: inline-block;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.glavni {
background-color: #f06e42;
}

.glavni_meni li a{
    display: block;
    text-align: center;
    padding: 5px 5px;
    /*text-decoration: none;*/
	height: 10px;
}

.glavni_meni > li:last-child
{
	right:0;
	position: relative;
}

li a:hover:not(.active) {
    background-color: #125185;
	color: #f06e42;
}


/* MENI ZA LINKOVE ZA PRIKAZIVANJE MENIJA */
.link_moduli {
	cursor:pointer;
	font-size: 16px;
	border-bottom: 1px solid #6c311d;
	background-color: #b0b0b0;
	color: white;
}

/*DIMENZIJE KOMPLETNOG MODULA ZA SVE MEHANIZME*/
.mehanizam_velicine_1_modula
{
    display: inline-block;
	width: 32%;
	padding-bottom: 5px;
	z-index: 1;
	min-height: 100px;
}

.mehanizam_velicine_2_modula, .mehanizam_velicine_2_modula_dodatno, 
.mehanizam_velicine_-_modula, .mehanizam_velicine_-_modula_dodatno
{
	display: inline-block;
	width: 32%;
	padding-bottom: 5px;
	min-height: 100px;
}

.tekst_katbr
{
	font-size: 18px;
	font-weight: bold;
	color: #ea6724;
}

.tekst_opis
{
	font-size: 12px;
}

.tekst_cena
{
	font-weight: bold;
	color: green;
	font-size: 13px;
	
}

.mehanizam_velicine_3_modula, .mehanizam_velicine_3_modula_dodatno
{
	width: 250px;
	float: left;
	padding: 5px;
	/*border: 1px solid red;*/
}

.mehanizam_velicine_4_modula, .mehanizam_velicine_4_modula_dodatno
{
	width: 250px;
	float: left;
	padding: 5px;
/*border: 1px solid red;*/
}


.mehanizam_velicine_22_modula
{
	width: 270px;
	float: left;
	padding: 5px;
/*border: 1px solid red;*/
}

.mehanizam_velicine_333_modula
{
	width: 350px;
	float: left;
	padding: 5px;
/*border: 1px solid red;*/
}

.mehanizam_velicine_33_modula
{
	width: 250px;
	float: left;
	padding: 5px;
	/*border: 1px solid red;*/
}


.mehanizam_velicine_6_modula
{
	width: 410px;
	float: left;
	padding: 5px;
	/*border: 1px solid red;*/
}

.mehanizam_velicine_7_modula
{
	width: 340px;
	float: left;
	padding: 5px;
/*border: 1px solid red;*/
}


/*PODEŠAVANJE DIMENZIJE SLIKE - VELIČINE 1 MODULA*/
/*LEVA STRANA - GDE SE NALAZE MEHANIZMI*/
.slika_velicine_x_modula#jedan
{
	width: 20%;
	height: auto;
	cursor: pointer;
}

.slika_velicine_x_modula#dva
{
	width: 40%;
	height: auto;
	cursor: pointer;
}

.slika_velicine_x_modula_maska#jedan
{
	width: 50px;
	height: 100px;
	cursor: pointer;
}

.slika_velicine_x_modula_maska#dva
{
	width: 100px;
	height: 100px;
	cursor: pointer;
} 


.slika_velicine_x_maska#dva
{
	width: 50px;
	height: 100px;
	cursor: pointer;
}

.slika_velicine_x_modula_dodatno#nista
{
	width: 40%;
	height: auto;
}


.slika_velicine_x_modula_dodatno
{
cursor: pointer;
float: left;
}

.slika_velicine_x_modula_dodatno#jedan
{
	width: 20%;
	height: auto;
}

.slika_velicine_x_modula_dodatno#dva
{
	width: 40%;
	height: auto;
}

.slika_velicine_x_modula_dodatno#tri
{
	width: 130px;
	height: 100px;
}

.slika_velicine_x_modula_dodatno#cetiri
{
	width: 150px;
	height: 100px;
}

.slika_velicine_x_modula_dodatno#sedam
{
	width: 250px;
	height: 100px;
	border: 1px solid red;
}

.slika_velicine_x_modula_dodatno#sest
{
	width: 250px;
	height: 100px;
	/*border: 1px solid red;*/
}

.slika_velicine_x_modula_dodatno#dva_dva
{
	width: 160px;
	height: 100px;
}

.slika_velicine_x_modula_dodatno#tri_tri_tri
{
	width: 210px;
	height: 100px;
}

.slika_velicine_x_modula_dodatno#tri_tri
{
	width: 120px;
	height: 140px;
}

/* pozicije mehanizama u nosacu 2 modula*/
/*
#mehanizam_2
*/

.slika_velicine_1_modula_klon
{
	position: relative;
	float: left;
	left: 49px;
	top: 39px;
	border: 1px solid black;
	height: 97px;
	width: 53px;
	cursor: pointer;
	z-index: 3;
}

.slika_velicine_2_modula_klon
{
	position: relative;
	float: left;
	left: 49px;
	top: 39px;
	border: 1px solid black;
	height: 97px;
	width: 108px;
	cursor: pointer;
	z-index: 3;
}

/*PODEŠAVANJE DIMENZIJE SLIKE U MODULU 2*/

.slika_velicine_-_modula
{
	width: 100px;
	height: 100px;
}

.slika_velicine_3_modula
{
	width: 140px;
	height: 100px;
}

.slika_velicine_33_modula
{
	width: 140px;
	height: 140px;
}


.slika_velicine_4_modula
{
	width: 190px;
	height: 100px;
}

.slika_velicine_22_modula
{
	width: 210px;
	height: 100px;
	
}

.slika_velicine_333_modula
{
	width: 250px;
	height: 100px;
}

.slika_velicine_6_modula
{
	width: 270px;
	height: 100px;
}

.slika_velicine_7_modula
{
	width: 270px;
	height: 100px;
}


/*PODACI MEHAIZMA U MODULU (ISPOD SLIKE)*/
.podaci_mehanizama
{
	display: inline-block;
	vertical-align:top;
	width: 40%;
	padding-left: 5px;
}


/*DIMENZIJE BOJA OKVIRA*/
.boje_okvira
{
	width: 210px;
	float: left;
	padding: 5px;
}

.okvir_slika
{
	width: 100px;
}

#okvir_slika
{cursor:pointer;}

.boje_okvira
{
	width: 210px;
	padding: 5px;
}

.slika_tekst
{
	width: 100%;
	height: 105px;
	float: left;
}


/*TABELA - SA PODACIMA O OKVIRIMA*/
.podaci_okvira
{
	width: 100%;
	font-size: 12px;
	padding: 5px;
	/*
	border: 1px solid #F0F0F0;
	*/
	float: left;
}

.kolona_modul, .kolona_kat_br, .kolona_cena_2
{
	text-align: center;
	padding: 3px;
	/*
	border: 1px solid black;
	*/
}

/*IZGLED - NASLOVA OKVIRA*/

h2 {
	position: relative;
	top: -61px; 
	left: 0px;
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 5px;
}

#podaci_mehanizma_7_modula, #podaci_mehanizma_4_modula, #podaci_mehanizma_22_modula, #podaci_mehanizma_333_modula, #podaci_mehanizma_6_modula
{
	width: 35%;

/*border: 1px solid red;*/
}

#podaci_mehanizma_3_modula, #podaci_mehanizma_33_modula
{
	width: 43%;

/*border: 1px solid red;*/
}


/* IZGLED PODMENIJA GDE SU PRIKAZANI NOSACI*/
.podmeni_nosaci
{
	position:fixed;
    right: 0px;
    bottom: 0px;
	background-color: #B0B0B0;
	z-index: 3;
}

.podmeni_nosaci li {
  
	border-left: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
	border-top: 1px solid #A0A0A0;
}

.podmeni_nosaci li:last-child {
    border-right: 1px solid #A0A0A0;
}

.podmeni_nosaci a {
    text-align: center;
	color: black;
}

.podmeni_nosaci a:hover {
	color: white;
	cursor:pointer;
}

#podmeni_nosaci_podignut{
	background-image: url("livinglight_3/slike/arrow-down.png");
	width: 15px;
	height: 15px;
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: center; 
	padding: 2px;
	cursor:pointer;
	width: 100%;
}

#podmeni_nosaci_spusten{
	background-image: url("livinglight_3/slike/arrow-up.png");
	width: 15px;
	height: 15px;
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: center; 
	padding: 2px;
	cursor:pointer;
	width: 100%;
	background-color: #ff9999
}


.podmeni_nosaci_klik:hover{
	background-color: #ADD8E6;
}

.slika_nav_x_modula
{
	height: 50px;
}

.slika_nav_3_modula
{
	height: 50px;
}

.slika_nav_4_modula
{
	height: 50px;
}

.slika_nav_7_modula
{
	height: 50px;
}

.slika_nav_33_modula
{
	height: 50px;
}
/* KRAJ PODMENIJA GDE SU PRIKAZANI NOSACI*/
.naslov_proizvoda
{
	font-size: 28px;
	clear: left;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 7px;
}

#naslov_dodatna_oprema
{
color: #0000FF;
}

.naslov_kompleta
{
	font-size: 28px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 60%;
	float: left;
}


/* POODESAVANJE DESNE STRANE*/
/*PODESAVANJE NOSACA*/

.naslov_tabele
{
	border-top: 4px solid #ce1808;
	border-bottom: 1px solid #FFFFFF;
	padding-left: 5px;
	padding: 5px 5px;
	font-size: 17px;
	color: black;
}

th {
  background-color: #f86153;
  color: black;
  height: 14px;
  vertical-align: middle;
  /*
  border: 0px solid black;
  */
}

td {
  height: 12px;
}

tr:nth-child(odd) {background: #E8E8E8}
tr:nth-child(even) {background: #FFF}


td.kolona_naziv{
	padding: 3px;
	/*
	border: 1px solid #F0F0F0;
	*/
}

tr:hover {background-color: #D3D3D3}

.mesto_nosac
{
	width: 100%;
	min-height: 250px;
	float: left;
	padding-top: 10px;
	padding-bottom: 6px;
	border-bottom: 1px solid #e1e0e0;
	margin-left: 2.5px;
	margin-right: 2.5px;
	
}

.slika_nosac_2_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 201px;
	height: 180px;
	background-size: 201px 180px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
	/*background-position: 50px 100px; */
}

.slika_nosac_3_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 255px;
	height: 177px;
	background-size: 255px 177px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.slika_nosac_4_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 310px;
	height: 177px;
	background-size: 310px 177px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.slika_nosac_6_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 420px;
	height: 177px;
	background-size: 420px 177px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}




/*OKVIRI*/
.okvir_velicine_2_modula_klon
{
	width: 201px;
	height: 180px;
	z-index: 1;
	position: absolute;
	left: 0px;
	top: -3px;
}

.okvir_velicine_3_modula_klon
{
	width: 260px;
	height: 177px;
	z-index: 1;
	position: absolute;
	left: 0px;
	top: -1px;
}

.okvir_velicine_4_modula_klon
{
	width: 310px;
	height: 177px;
	z-index: 1;
	position: absolute;
	left: 0px;
	top: -1px;
}

.okvir_velicine_6_modula_klon
{
	width: 420px;
	height: 180px;
	z-index: 1;
	position: absolute;
	left: 0px;
	top: -3px;
}

/* TABELE ZA PRIKAZ*/

.cenovnik_komplet_2_modula , .cenovnik_komplet_3_modula , .cenovnik_komplet_33_modula, .cenovnik_komplet_4_modula, .cenovnik_komplet_6_modula, .cenovnik_komplet_22_modula, .cenovnik_komplet_333_modula, .cenovnik_komplet_-_modula, .cenovnik_komplet_1_modula  
{
	/*
	border: 0px solid black;
	*/
	width: 100%;
	position: relative;
	float: right;
	font-size: 12px;
	left: 0px;
	top: 5px;;
}

/*
td.kolona_kolicina, td.kolona_cena, td.kolona_ukupno, td.kolona_kolicina_naslov, td.kolona_cena_naslov, td.kolona_ukupno_naslov, td.kolona_naziv_naslov, td.kolona_kat_br_naslov {
	padding: 3px;
	text-align: center;
	border: 1px solid black;
}
*/

td.kolona_kolicina, td.kolona_cena, td.kolona_ukupno, td.kolona_kolicina_naslov, td.kolona_cena_naslov, td.kolona_ukupno_naslov, td.kolona_naziv_naslov, td.kolona_kat_br_naslov, td.kolona_modul, td.kolona_kat_br, td.kolona_cena_2 {
	padding: 3px;
	text-align: center;
	/*
	border: 1px solid #F0F0F0;
	*/
}

td.kolona_ukupno {
	text-align: right;
	font-size: 13px;
	padding-right: 7px;
}


.dugme_brisi
{
	width: 65px;
	position: relative;
	float: right;
	right: 5px;
	top: 0px;
	cursor: pointer;
	background-color: #6C96D7;
	font-size: 15px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	/*KOMANDE DA SE NE POJAVLJUJE MARKIRANJE*/
	-webkit-user-select: none;
	-moz-user-select: none;
	/*-khtml-user-select: none;
	-ms-user-select: none;*/
	z-index: 100;
}


.desna_dugme_kreiranje
{
	float: right;
	right: 0px;
	/*padding-top: 0px;*/
	height: 30px;
	width: 150px;
	/*border: 1px solid black;*/
}

.export
{
	width: 150px;
	position: relative;
	float: left;
	right: -5px;
	top: 1px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	background-color: #f86153; /*crvena boja*/
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	/*KOMANDE DA SE NE POJAVLJUJE MARKIRANJE*/
	-webkit-user-select: none;
	-moz-user-select: none;
	z-index: 40;
}

.export:hover{
    color: black;
}


.dugme_brisi:hover{
    background-color: black;
}


.dugme_brisi a
{
    text-decoration: none;
	color: white;
}

.dugme_brisi a:hover
{
    text-decoration: none;
	color: white;
}


/*FACEBOOK DUGME*/
.facebook_dugme
{
	height: 30px;
	width: 30px;
	padding: 3px;
	text-align: center;
	color: grey;
	vertical-align: middle;
}

/*DIV KOLICINA PROIZVODA - PODESAVANJE*/
/* FORMATIRANJE SLOVA */
.kolicina_plus, .kolicina_prikaz, .kolicina_minus
{
	text-align: center;
}

.kolicina_proizvoda
{
	position: relative;
	width: 100px;
	height: 110px;
	float: left;
	top: 0px;
	left: 25px;
	background-color: white;

}

.kolicina_naslov
{
	height: 20%;
	padding: 3px;
	width: 100%;
	text-align: center;
	color: grey;
	vertical-align: middle;
	
}

.kolicina_prikaz
{
	height: 50%;
	border-bottom: 1px solid #E8E8E8;
	border-top: 1px solid #E8E8E8;
	vertical-align: middle;
	font-size: 40px;
}

.kolicina_plus
{
	height: 40%;
	float: right;
	width: 50%;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	/*-khtml-user-select: none;
	-ms-user-select: none;*/
	font-size: 30px;
	font-weight: bold;
	color: white;
	background-color: #80bfff;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-left: 1px solid white;
}

.kolicina_minus
{
	height: 40%;
	float: left;
	width: 50%;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	/*-khtml-user-select: none;
	-ms-user-select: none;*/
	font-size: 30px;
	font-weight: bold;
	color: white;
	background-color: #80bfff;
}

.kolicina_minus:hover {
    color: black;
}

.kolicina_plus:hover {
    color: black;
}

/* PODEŠAVANJE DODATNIH PROIZVODA*/ 

.dodatni_1_modula_klon
{
	position: relative;
	width: 85px;
	height: 170px;
	background-size: 85px 170px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
	left: 10px;
}

.dodatni_-_modula_klon
{
	position: relative;
	width: 170px;
	height: 170px;
	background-size: 130px 130px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
}

.dodatni_2_modula_klon
{
	position: relative;
	width: 170px;
	height: 170px;
	background-size: 170px 170px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
	left: 10px;
}

.dodatni_3_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 265px;
	height: 170px;
	background-size: 250px 170px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.dodatni_22_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 275px;
	height: 170px;
	background-size: 275px 170px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.dodatni_4_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 295px;
	height: 170px;
	background-size: 295px 170px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.dodatni_6_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 425px;
	height: 170px;
	background-size: 425px 170px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.dodatni_7_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 465px;
	height: 170px;
	background-size: 465px 170px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.dodatni_33_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 265px;
	height: 300px;
	background-size: 265px 300px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.dodatni_333_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 365px;
	height: 170px;
	background-size: 365px 170px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.slika_nosac_7_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 375px;
	height: 177px;
	background-size: 465px 177px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.slika_nosac_33_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 735px;
	height: 177px;
	background-size: 265px 280px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}


.navigacija
{
	position: relative;
	height: 70px;
	float: right;
}

.kompleti_mehanizama {
   border: 1px solid red;

}