﻿/*
*{
	border: 1px solid black;
}*/

.tableContainer
{
    width: 100%;
	margin-top: 10px;
	padding: 5px;
}

.tabelaIzbora
{
	float: left;
	font-size: 12px;
	width: 80%;
}

.tabelaNavigacija
{
	float: right;
	width: 18.5%;
	float: right;
	position: fixed;
	right: 10px;
	border-bottom: 1px solid #C0C0C0;
}

.tabelaNavigacija tr th td
{
	width: 100%;
}

.tabelaNavigacija td:hover
{
	cursor: pointer;
	background-color: #D3D3D3;
}

.tabela_izbora tr, td, th
{
	padding: 5px;
	text-align: center;
}

.velikiNaslov
{
	font-size: 20px;
}

.prikazRezultataNaslov
{
font-size: 15px;
background-color: #fd967c;
}

.prikazRezultataNaslovMesec td
{
	font-size: 18px;	
	background-color: #f86556;
	text-align: left;
	cursor: pointer;
	border-bottom: 1px solid #ce1808;
}

.prikazRezultataNaslovMesec td:hover
{
	background-color: #fcd0cc;
}


.prikazRezultataVrsta
{
	border-bottom: 1px solid #C0C0C0;
}


.slika_velicine_x_modula
{
	height: 40px;
	width: auto;
}

.f-social
{
	/*border: 1px solid black;*/
}

.razmak123
{
	display: block;
	overflow: hidden;
	height: 10px;
	width: 100%;
	
}


