html
{
height: 80%;
}

body 
{
	height: 100%;   
}

.shortText_2 { display: none; }
.fullText_2 { display: inline-block; }

.dropdownNovo
{
	display: none;
}

/*scroll bar leva*/
div.ex1 {
  width: 100%;
  height: 97%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10px;
}

div.ex2 {
  width: 100%;
  height: 96%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0px;
}

.subMenu
{
	width: 100%;
}

.left_container
{
	width: 50%;
	margin-top: 0px;
	display: inline-block;
}

.bticino_logo
{
	float: left;
	width: 40%;
	padding-left: 10px;
}

.bticino_logo img
{
	width: 100%;
	height: auto;
}

.bticino_levi
{
	float: right;
	width: 100%;
}

.levi_podmeni{
	width: 100%;
	float: right;
}

.levi_podmeni a:hover
{
	background-color: #2980B9;
}
	
.right_container
{
	width: 50%;
	float: right;
	display: inline-block;
}

.flags
{
	width: 10%;
	height: 100%;
	float: left;
	display: inline;
	padding-top: 8px;
	padding-bottom: 8px;
}

.flag
{
	display: inline;
	padding-right: 3px;
}

.flag img
{ 
		width: 25%;
		border-radius: 4px;
}

	

p.nosac_slova
{
	margin-bottom: 0px;
}
p.nosac_slova_2, p.nosac_slova_2_broj
{
	display: none;
	margin-bottom: 0px;
}


.kompleti_mehanizama {
   border: 1px solid red;
}

.naslov_proizvoda
{
	font-size: 32px;
	font-weight: bold;
	width: 50%;
	color: #403b3f;
	float: left;
	padding-top: 3px;
	/*padding-bottom: 8px;*/
}

.naslov_kompleta
{
	font-size: 32px;
	font-weight: bold;
	width: 50%;
	/*/float: right;*/
	text-align: center;
	/*padding-top: 9px;*/
}

.desna_dugme_kreiranje
{
	float: right;
	height: 0px;
	width: 0px;
}


.export
{
	font-size: 15px;
	width: 155px;
	position: relative;
	float: left;
	right: 170px;
	top: -70px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	background-image: linear-gradient(#6bb3fa, #419bf9); /*boja dugmeta*/
	color: white;
	/*KOMANDE DA SE NE POJAVLJUJE MARKIRANJE*/
	-webkit-user-select: none;
	-moz-user-select: none;
	z-index: 100;
	display: flex;
	border-radius: 3px;
	border: 1px solid #d4d4d4;
	vertical-align: middle;
	box-shadow: 1px 1px 1px #BAB8BA;
	text-decoration: none;
	padding: 10px 22px;
}

.glavni {
background-color: #ececec;
border: 1px solid #d4d4d4;
font-weight: bold;
font-size: 14px;
border-radius: 3px;
box-shadow: 1px 1px 1px #BAB8BA;
}

.glavni_meni li a{
    display: block;
    text-align: center;
    padding: 3px 3px;
}

#link_prekidaci a:focus{     
    background-color: yellow;    
}

.glavni_meni a
{
	text-decoration: none;
}

.glavni_meni > li:last-child
{
	right:0;
	position: relative;
}
/*PRELAZAK MISEM U NAVIGACIJI MENJA BOJU*/
.glavni li a:hover:not(.active) {
    background-color: #0083fe;
	color: #fff;
}

.navigacija
{
	position: relative;
	/*height: 40px;*/
	/*top: 0px;*/
	width: 100%;
	/*KOMANDE DA SE NE POJAVLJUJE MARKIRANJE*/
	-webkit-user-select: none;
	-moz-user-select: none;
}

/*
.lang
{
	padding: 3px;
}

.flag 
{
	height: 15px;
	width: 23px;
}

.lang:hover
{
	background-color: #66CC00;
} 
*/

.leva {
	/*kod da linija bude unutar div-a */
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    float:left;
	display: inline-block;
    width: 50%;
    height: 96%;
	padding-left: 3px;
	padding-right: 2px;
	padding-bottom: 10px;
	border-right: 0.5px solid #f5f5f5;
	background-color: #fff;
}

/*SKRIVANJE JEDNOG TEKSTA U TABELI ZA BOJE OKVIRA - POSLE SA NA DRUGOJ REZOLUCIJI IDE OBRNUTO - NA REZOLUCIJI */
.shortText { display: none; }


.vrsta_mehanizmi
{
	padding-left: 20px;
}


.desna {
	/*kod da linija bude unutar div-a */
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display: inline-block;
    width: 50%;
    height: 100%;
	float: left;
	background-color: white;
	padding-bottom: 10px;
	top: 0px;
}

/* NAVIGACIONI MENI*/


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	list-style-type: none;
   /* float: left;*/
    /*border-right:1px solid #bbb;*/
	cursor:pointer;
	display: inline-block;

}

li a {
    display: block;
    color: #666265;
    text-align: center;
    padding: 7px 7px;
    text-decoration: none;
}

/* MENI ZA LINKOVE ZA PRIKAZIVANJE MENIJA */
.link_moduli {
	cursor:pointer;
	font-size: 16px;
	/*color: #A9A9A9;*/
	color: #D0D0D0;
	font-weight: bold;
	font-size: 15px;
}

.link_moduli a:hover {

	text-decoration: none;
}

/*DIMENZIJE KOMPLETNOG MODULA ZA SVE MEHANIZME*/
.mehanizam_velicine_1_modula_dodatno
{
    display: inline-block;
	width: 22%;
	padding-top: 15px;
	padding-bottom: 5px;
	z-index: 1;
	border: 1px solid #DCDCDC;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	min-height: 200px;
	border-radius: 5px;
	cursor: pointer;
}

.mehanizam_velicine_1_modula_dodatno:hover
{
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.4);
    box-shadow:0 0 10px rgba(0,0,0,0.4);
	
}

.mehanizam_velicine_11_modula
{
    display: inline-block;
	width: 32%;
	padding-bottom: 5px;
	padding-right: 0px;
	z-index: 1;
	min-height: 120px;
}

.mehanizam_velicine_2_modula, .mehanizam_velicine_2_modula_dodatno, 
.mehanizam_velicine_-_modula, .mehanizam_velicine_-_modula_dodatno
{
	display: inline-block;
	width: 32%;
	padding-bottom: 5px;
	padding-right: 0px;
	min-height: 100px;
	cursor: pointer;
}

.mehanizam_velicine_3_modula, .mehanizam_velicine_3_modula_dodatno
{
	width: 250px;
	float: left;
	padding-bottom: 5px;
	padding-right: 0px;
	min-height: 120px;
	/*border: 1px solid red;*/
}

.mehanizam_velicine_4_modula, .mehanizam_velicine_4_modula_dodatno
{
	width: 250px;
	float: left;
	padding-bottom: 5px;
	padding-right: 0px;
	min-height: 120px;
/*border: 1px solid red;*/
}

.mehanizam_velicine_22_modula
{
	width: 270px;
	float: left;
	padding-bottom: 5px;
	padding: 5px;
	min-height: 100px;
}

.mehanizam_velicine_333_modula
{
	width: 350px;
	float: left;
	padding-bottom: 5px;
	padding: 5px;
	min-height: 100px;
}

.mehanizam_velicine_33_modula
{
	width: 250px;
	float: left;
	padding-bottom: 5px;
	padding: 5px;
	min-height: 100px;
}


.mehanizam_velicine_6_modula
{
	width: 320px;
	float: left;
	padding-bottom: 5px;
	padding: 5px;
	min-height: 100px;
}

.mehanizam_velicine_7_modula
{
	width: 340px;
	float: left;
	padding: 5px;
	min-height: 100px;
}

/* JAKO VAZNO */

.slika_velicine_x_modula#jedan
{
	width: 80%;
	height: auto;
	cursor: pointer;
}

.slika_velicine_x_modula#dva
{
	width: 40%;
	height: auto;
	cursor: pointer;
}

.slika_velicine_x_modula_dodatno#nista
{
	width: 40%;
	height: auto;
}

.slika_velicine_x_modula_dodatno#jedan
{
	width: 60%;
	height: auto;
}

.slika_velicine_x_modula_dodatno#dva
{
	width: 40%;
	height: auto;
}

.slika_velicine_x_modula_dodatno#jedan_jedan
{
	width: 35%;
	height: auto;
}

/*PODACI MEHAIZMA U MODULU (ISPOD SLIKE)*/

/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/

.podaci_mehanizama
{
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}


#podaci_mehanizma_-_modula
{
	width: 50%;
}

/* JAKO VAZNO */

.slika_velicine_x_modula_maska#jedan
{
	width: 50px;
	height: 100px;
	cursor: pointer;
}

.slika_velicine_x_modula_maska#dva
{
	width: 100px;
	height: 100px;
	cursor: pointer;
} 


.slika_velicine_x_maska#dva
{
	width: 50px;
	height: 100px;
	cursor: pointer;
}

.slika_velicine_x_modula_dodatno
{
cursor: pointer;
}


.slika_velicine_x_modula_dodatno#tri
{
	width: 130px;
	height: 100px;
}

.slika_velicine_x_modula_dodatno#cetiri
{
	width: 150px;
	height: 100px;
}

.slika_velicine_x_modula_dodatno#sedam
{
	width: 190px;
	height: 100px;
}

.slika_velicine_x_modula_dodatno#sest
{
	width: 190px;
	height: 100px;
}

.slika_velicine_x_modula_dodatno#dva_dva
{
	width: 160px;
	height: 100px;
}

.slika_velicine_x_modula_dodatno#tri_tri_tri
{
	width: 210px;
	height: 100px;
}

.slika_velicine_x_modula_dodatno#tri_tri
{
	width: 120px;
	height: 140px;
}


.slika_velicine_2_modula_klon
{
	position: relative;
	float: left;
	left: 50px;
	top: 40px;
	border: 1px solid black;
	height: 96px;
	width: 97.5px;
	cursor: pointer;
	z-index: 3;
}

/*PODEŠAVANJE DIMENZIJE SLIKE U MODULU 2*/

.slika_velicine_-_modula
{
	width: 100px;
	height: 100px;
}

.slika_velicine_3_modula
{
	width: 140px;
	height: 100px;
}

.slika_velicine_33_modula
{
	width: 140px;
	height: 140px;
}


.slika_velicine_4_modula
{
	width: 190px;
	height: 100px;
}

.slika_velicine_22_modula
{
	width: 210px;
	height: 100px;
}

.slika_velicine_333_modula
{
	width: 250px;
	height: 100px;
}

.slika_velicine_6_modula
{
	width: 270px;
	height: 100px;
}

.slika_velicine_7_modula
{
	width: 270px;
	height: 100px;
}

/*DIMENZIJE BOJA OKVIRA*/
.boje_okvira
{
	width: 32%;
	float: left;
	padding: 5px;
	/*padding-bottom: 10px;*/
	/*border: 1px solid black;*/
	
}

.okvir_slika
{
	width: 100%;
	height: 60px;
	border-radius: 3px;
}

#okvir_slika
{
	cursor:pointer;
}

.slika_tekst
{
	width: 100%;
	height: 65px;

}


/*TABELA - SA PODACIMA O OKVIRIMA*/
.podaci_okvira
{
	width: 100%;
	font-size: 12px;
	padding: 5px;
	float: left;
}



/*IZGLED - NASLOVA OKVIRA*/

h2 {
	position: relative;
	top: -61px; 
	left: 0px;
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 5px;
   border-radius: 3px;
}

#podaci_mehanizma_7_modula, #podaci_mehanizma_4_modula, #podaci_mehanizma_22_modula, #podaci_mehanizma_333_modula
{
	width: 35%;
	padding: 5px;
}

#podaci_mehanizma_3_modula, #podaci_mehanizma_33_modula
{
	width: 43%;
	padding: 5px;
}



/* IZGLED PODMENIJA GDE SU PRIKAZANI NOSACI*/
.podmeni_nosaci
{
	font-size: 14px;
	position:relative;
	background-color: #ececec;
	z-index: 1;
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	font-weight: bold;
	box-shadow: 1px 1px 1px #BAB8BA;
}


.podmeni_nosaci li {
  
	border-left: 1px solid #A0A0A0;
	width: 25%;
}

.podmeni_nosaci li:first-child {
    border-left: none;
}

.podmeni_nosaci a {
    text-align: center;
}

.podmeni_nosaci a:hover {
	color: white;
	background-color: #0083fe;
}

/*
#podmeni_nosaci_podignut{
	padding: 3px;
	width: 100%;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}
*/

/*
#podmeni_nosaci_spusten{
	width: 15px;
	height: 15px;
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: center; 
	padding: 2px;
	cursor:pointer;
	width: 100%;
	background-color: #ff9999
}
*/

/*
.podmeni_nosaci_klik:hover{
	background-color: #ADD8E6;
}
*/

.slika_nav_x_modula_slika
{
	height: 50px;
}

.slika_nav_3_modula
{
	height: 50px;
}

.slika_nav_4_modula
{
	height: 50px;
}

.slika_nav_7_modula
{
	height: 50px;
}

.slika_nav_33_modula
{
	height: 50px;
}


#naslov_dodatna_oprema
{
color: #0000FF;
}

.tekst_katbr
{
	font-size: 18px;
	font-weight: bold;
	color: #ea6724;
}

.tekst_opis
{
	font-size: 14px;
}

.tekst_opis_info
{
	font-weight: bold;
	color: #C36900;
}

.tekst_cena
{
	font-weight: bold;
	color: green;
	font-size: 13px;
	
}

/* POODESAVANJE DESNE STRANE*/
/*PODESAVANJE NOSACA*/

.naslov_tabele
{
	border-radius: 3px;
	border: 1px solid #b9b8ba;
	overflow: hidden;
	margin-bottom: 20px;
	padding: 2px 2px;
	background-image: linear-gradient(#e8e6e9, #d0cfd1);
}
.naslov_tabele_tekst
{
	float:left;
	font-size: 17px;
	width: 80%;
	margin-left: 5px;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #403b3f; /*boja slova u naslovu tabele*/
}


.dugmad
{
	position: relative;
	float: right;
	top: 4px;
	font-size: 13px;
	overflow: hidden;
	width: 80px;
	font-weight: bold;
}

.dugme_brisi, .dugme_minimiziraj
{
	border-radius: 3px;
	border: 1px solid #b2423c;
	width: 25px;
	position: relative;
	float: right;
	right: 1px;
	cursor: pointer;
	background-color: #ff5f57;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
	/*KOMANDE DA SE NE POJAVLJUJE MARKIRANJE*/
	-webkit-user-select: none;
	-moz-user-select: none;
	/*-khtml-user-select: none;
	-ms-user-select: none;*/
	z-index : 1;
}

.dugme_minimiziraj
{
	right: 4px;
	background-color: #ffbd2f;
	border: 1px solid #cc9725;
}

.mesto_nosac
{
	float: left;
	width: 99.5%;
	min-height: 250px;
	margin-bottom: 27px;
	border-bottom: 1px solid #e1e0e0;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

.mesto_nosac_minimiz
{
	width: 99.5%;
	height: 40px;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 1px solid #e1e0e0;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

.slika_velicine_1_modula_klon
{
	position: relative;
	float: left;
	/*border: 1px solid black;*/
	height: 107px;
	width: 107px;
	cursor: pointer;
	z-index: 1;
}

.slika_velicine_1_modula_klon:nth-child(1)
{
	z-index: 1;
	top: 5px;
	left: 6px;
}

.slika_velicine_1_modula_klon:nth-child(2)
{
	z-index: 2;
	top: 5px;
	left: -1px;
}

.slika_velicine_1_modula_klon:nth-child(3)
{
	z-index: 3;
	top: 5px;
	left: -8px;
}

.slika_velicine_1_modula_klon:nth-child(4)
{
	z-index: 3;
	top: 5px;
	left: -19px;
}


.slika_nosac_1_modula_klon
{
	position: relative;
	width: 116px;
	height: 116px;
	background-size: 116px 116px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
	left: 20px;
}

.slika_nosac_2_modula_klon
{
	position: relative;
	width: 218px;
	height: 116px;
	background-size: 218px 116px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
	left: 20px;
}


.slika_nosac_3_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 321px;
	height: 116px;
	background-size: 321px 116px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	left: 20px;
}

.slika_nosac_4_modula_klon
{
	position: relative;
	width: 428px;
	height: 116px;
	background-size: 428px 116px;
	background-repeat: no-repeat;
	background-position: left;
	float: left;
	left: 20px;
}

.slika_nosac_7_modula_klon
{
	position: relative;
	width: 456px;
	height: 177px;
	background-size: 456px 177px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.slika_nosac_33_modula_klon
{
	position: relative;
	width: 265px;
	height: 280px;
	background-size: 265px 280px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

/*OKVIRI*/
.okvir_velicine_1_modula_klon
{
	width: 117px;
	height: 117px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 4;
	pointer-events: none;
	
/*BOJA OKO PNG SLIKE*/
		-webkit-filter: drop-shadow(1px 1px 1px darkgrey)
  drop-shadow(-1px -1px 0 darkgrey);
  filter: drop-shadow(1px 1px 0 darkgrey) 
    drop-shadow(-1px -1px 0 darkgrey);

}


.okvir_velicine_2_modula_klon
{
	width: 218px;
	height: 120px;
	position: absolute;
	left: 0px;
	top: -2.5px;
	z-index: 4;
	pointer-events: none;

/*BOJA OKO PNG SLIKE*/
	-webkit-filter: drop-shadow(1px 1px 1px darkgrey)
  drop-shadow(-1px -1px 0 darkgrey);
  filter: drop-shadow(1px 1px 0 darkgrey) 
    drop-shadow(-1px -1px 0 darkgrey);

}

.okvir_velicine_3_modula_klon
{
	width: 322px;
	height: 118px;
	z-index: 1;
	position: absolute;
	top: -1px;
	left: 0px;
	z-index: 4;
	pointer-events: none;
/*BOJA OKO PNG SLIKE*/
	-webkit-filter: drop-shadow(1px 1px 1px darkgrey)
  drop-shadow(-1px -1px 0 darkgrey);
  filter: drop-shadow(1px 1px 0 darkgrey) 
    drop-shadow(-1px -1px 0 darkgrey);

}

.okvir_velicine_4_modula_klon
{
	width: 432px;
	height: 118px;
	z-index: 1;
	position: absolute;
	top: -1px;
	left: 0px;
	z-index: 4;
	pointer-events: none;
/*BOJA OKO PNG SLIKE*/
	-webkit-filter: drop-shadow(1px 1px 1px darkgrey)
  drop-shadow(-1px -1px 0 darkgrey);
  filter: drop-shadow(1px 1px 0 darkgrey) 
    drop-shadow(-1px -1px 0 darkgrey);

}

.okvir_velicine_7_modula_klon
{
	width: 456px;
	height: 177px;
	z-index: 1;
	position: absolute;
	left: 0px;
}

/* TABELE ZA PRIKAZ*/

.cenovnik_komplet_11_modula, .cenovnik_komplet_2_modula , .cenovnik_komplet_3_modula , .cenovnik_komplet_33_modula, .cenovnik_komplet_4_modula, .cenovnik_komplet_7_modula, .cenovnik_komplet_22_modula, .cenovnik_komplet_333_modula, .cenovnik_komplet_-_modula, .cenovnik_komplet_1_modula, .cenovnik_komplet_jedan_modula  
{
	width: 100%;
	position: relative;
	float: right;
	font-size: 12px;
	left: 0px;
	top: 15px;
}

.tabela_red_naslovi
{
	background-color: #FFF;
	color: #666265;
}


th {
  background-image: linear-gradient(#e8e6e9, #d0cfd1);
  border: 1px solid #999999;
  color: #666265;
  height: 14px;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
}

td
{
  height: 12px;
  border: 1px solid #d2d2d2;
}


td.kolona_kolicina, td.kolona_cena, td.kolona_ukupno, td.kolona_kolicina_naslov, td.kolona_cena_naslov, td.kolona_ukupno_naslov, td.kolona_naziv_naslov, td.kolona_kat_br_naslov, td.kolona_modul, td.kolona_kat_br, td.kolona_cena_2 {
	padding: 3px;
	text-align: center;
}

th.kolona_ukupno_cena
{
	text-align: center;
}

td.kolona_naziv_naslov, td.kolona_kat_br_naslov, td.kolona_kolicina_naslov, td.kolona_cena_naslov
{
	font-weight: bold;
	color: #666265;
}

td.kolona_ukupno {
	text-align: right;
	font-weight: bold;
	padding-right: 7px;
}

tr:nth-child(odd) {background: #f6f7fd}
tr:nth-child(even) {background: #FFF}

tr.cena_ukupno
{
	background-image: linear-gradient(#e8e6e9, #b9b9b9);
	font-weight: bold;
	border: 1px solid #999999;
}

th.kolona_cena
{
	text-align: center;
	border: 1px solid #999999;
}

td.kolona_naziv{
	padding: 3px;
}

tr:hover {background-color: #61afff}


.export:hover{
    color: black;
}


.dugme_brisi:hover{
    background-color: black;
}

.dugme_minimiziraj:hover{
    background-color: red;
}


.dugme_brisi a, .dugme_minimiziraj a
{
    text-decoration: none;
	color: white;
}

/*DIV KOLICINA PROIZVODA - PODESAVANJE*/
/* FORMATIRANJE SLOVA */
.kolicina_plus, .kolicina_prikaz, .kolicina_minus
{
	text-align: center;
}

.kolicina_proizvoda
{
	position: relative;
	width: 90px;
	height: 100px;
	float: left;
	top: 0px;
	margin-left: 120px;
	background-color: white;
	border-radius: 3px;
}

.kolicina_naslov
{
	font-size: 14px;
	font-weight: bold;
	height: 30%;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	color: grey;
}

.kolicina_prikaz
{
	height: 50%;
	border-bottom: 1px solid #E8E8E8;
	border-top: 1px solid #E8E8E8;
	font-size: 35px;
	font-weight: bold;
	
}

.kolicina_plus
{
	height: 30%;
	float: right;
	width: 50%;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	font-size: 22px;
	font-weight: bold;
	color: white;
	background-color: #80bfff;
	border-left: 1px solid white;
	vertical-align: middle;
}

.kolicina_minus
{
	height: 30%;
	float: left;
	width: 50%;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	/*-khtml-user-select: none;
	-ms-user-select: none;*/
	font-size: 22px;
	font-weight: bold;
	color: white;
	background-color: #80bfff;
}

.kolicina_minus:hover {
    color: black;
}

.kolicina_plus:hover {
    color: black;
}

/* PODEŠAVANJE DODATNIH PROIZVODA*/ 

.dodatni_1_modula_klon
{
	position: relative;
	height: 130px;
	width: 130px;
	background-size: 130px 130px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	left: 20px;
}

.dodatni_1_modula_klon_slika
{
	position: relative;
	height: 95%;
	width: auto;
}



.dodatni_-_modula_klon
{
	position: relative;
	width: 170px;
	height: 170px;
	background-size: 130px 130px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
}

.dodatni_11_modula_klon
{
	position: relative;
	width: 140px;
	height: 160px;
	background-size: 140px 160px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
	left: 10px;
}

.dodatni_2_modula_klon
{
	position: relative;
	width: 220px;
	height: 140px;
	background-size: 220px 140px;
	background-repeat: no-repeat;
	background-position: center; 
	float: left;
	left: 10px;
}

.dodatni_3_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 265px;
	height: 170px;
	background-size: 250px 170px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.dodatni_22_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 275px;
	height: 170px;
	background-size: 275px 170px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.dodatni_4_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 295px;
	height: 170px;
	background-size: 295px 170px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.dodatni_6_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 465px;
	height: 170px;
	background-size: 465px 170px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.dodatni_7_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 465px;
	height: 170px;
	background-size: 465px 170px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.dodatni_33_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 265px;
	height: 300px;
	background-size: 265px 300px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.dodatni_333_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 465px;
	height: 170px;
	background-size: 465px 170px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.slika_nosac_33_modula_klon
{
	/*border: 1px solid red;*/
	position: relative;
	width: 265px;
	height: 280px;
	background-size: 265px 280px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}


.bticino_levi ul {
    list-style-type: none;
    margin: 5px;
	float: right;
    /*overflow: hidden;*/
}

.bticino_levi li {
    
    border-right:1px solid #bbb;
}



.bticino_levi li:last-child {
  border-right: none;
}

.levi_podmeni a:hover
{
	background-color: #2980B9;
}


@media only screen and (max-width: 1860px) {
.naslov_proizvoda
{
	font-size: 28px;
}

.naslov_kompleta
{
	font-size: 28px;
}

}

@media only screen and (max-width: 1610px) {
.naslov_proizvoda, .naslov_kompleta
{
	font-size: 26px;
}

}


@media only screen and (max-width: 1540px) {

.link_moduli
{
	font-size: 14px;
	padding: 5px 5px;
}

/*DIMENZIJE KOMPLETNOG MODULA ZA SVE MEHANIZME*/
.mehanizam_velicine_1_modula
{
	width: 30%;
}

}


@media only screen and (max-width: 1450px) {



.naslov_proizvoda, .naslov_kompleta
{
	padding-top: 3px;
}


@media only screen and (max-width: 1405px) {
	

.flag img
{ 
		width: 40%;
		border-radius: 4px;
}
	

td.kolona_kolicina, td.kolona_cena, td.kolona_ukupno, td.kolona_kolicina_naslov, td.kolona_cena_naslov, td.kolona_ukupno_naslov, td.kolona_naziv_naslov, td.kolona_kat_br_naslov, td.kolona_modul, td.kolona_kat_br, td.kolona_cena_2 {
	padding: 0px;
}

.mesto_nosac
{
	min-height: 230px;
}
.glavni_meni a
{
	font-size: 14px;
}
.navigacija
{
	height: 70px;
}

.link_moduli
{
	   font-size: 12px;
}

.tekst_katbr
{
	font-size: 14px;
}
.tekst_opis
{
	font-size: 13px;
	
}
.tekst_cena
{
	font-size: 13px;
	
}

th {
  height: 12px;
}

td {
  height: 12px;
}

/*SETOVANJE DESNE STRANE*/

.slika_velicine_1_modula_klon
{
	left: 15px;
	top: 0px;
	height: 88px;
	width: 88px;
}

.slika_velicine_2_modula_klon
{
	left: 47px;
	top: 34px;
	height: 80px;
	width: 81px;
}

/*KOMPLET 1 MEHANIZAM*/
.slika_nosac_1_modula_klon
{
	width: 99px;
	height: 99px;
	background-size: 99px 99px;
	background-position: center; 
}

.okvir_velicine_1_modula_klon
{
	width: 99px;
	height: 99px;
	left: 1px;
	top: -1px;
}

/*KOMPLET 2 MODULA*/
.slika_nosac_2_modula_klon
{
	width: 177px;
	height: 98px;
	background-size: 177px 98px;
	background-position: center; 
}

.okvir_velicine_2_modula_klon
{
	width: 179px;
	height: 100px;
	left: 1px;
	top: -1px;
}

/*KOMPLET 3 MODULA*/
.slika_nosac_3_modula_klon
{
	width: 264px;
	height: 100px;
	background-size: 264px 100px;
}

.okvir_velicine_3_modula_klon
{
	width: 264px;
	height: 100px;
}

/*KOMPLET 4 MODULA*/
.slika_nosac_4_modula_klon
{	
	width: 353px;
	height: 100px;
	background-size: 353px 100px;	
}

.okvir_velicine_4_modula_klon
{
	width: 353px;
	height: 100px;
}

/*KOMPLET 7 MODULA*/
.slika_nosac_7_modula_klon
{	
	width: 375px;
	height: 147px;
	background-size: 375px 147px;	
}

.okvir_velicine_7_modula_klon
{
	width: 375px;
	height: 150px;
	left: 0px;
}

.slika_velicine_1_modula_klon:nth-child(1)
{
	z-index: 1;
	top: 5px;
	left: 7px;
}

.slika_velicine_1_modula_klon:nth-child(2)
{
	z-index: 2;
	top: 5px;
	left: -1px;
}

.slika_velicine_1_modula_klon:nth-child(3)
{
	z-index: 3;
	top: 5px;
	left: -8px;
}

.slika_velicine_1_modula_klon:nth-child(4)
{
	z-index: 3;
	top: 5px;
	left: -18px;
}

.kolicina_proizvoda
{
	position: relative;
	width: 80px;
	height: 90px;
	float: left;
	top: 0px;
	margin-left: 35px;
}


/*ZAVRSETAK SETOVANJA DESNE STRANE*/

/*ZAVRSETAK DESNE STRANE*/

}
@media only screen and (max-width: 1325px) {

.glavni_meni a
{
	font-size: 13px;
}

/*SKRIVANJE JEDNOG TEKSTA U TABELI ZA BOJE OKVIRA - POSLE SA NA DRUGOJ REZOLUCIJI IDE OBRNUTO*/
.shortText { display: inline-block; }
.fullText { display: none; }
}

@media only screen and (max-width: 1245px) {

.glavni_meni a
{
	font-size: 13px;
}

li a {

    padding: 7px 7px;
}


th {
  height: 11px;
}

td {
  height: 11px;
}

.naslov_proizvoda, .naslov_kompleta
{
	font-size: 22px;
}

.export
{
font-size: 12px;
width: 135px;
right: 140px;
top: -60px;
padding: 10px 22px;
}

}


@media only screen and (max-width: 1211px) {

li a {

    padding: 5px 5px;
}

th {
  height: 8px;
}

td {
  height: 8px;
}

}

/**//**/
@media only screen and (max-width: 1150px) {
/**//**/

/*DIMENZIJE KOMPLETNOG MODULA ZA SVE MEHANIZME*/


.link_moduli
{
	   font-size: 11px;
}

.podaci_mehanizama p
{
	font-size: 11px;
}


.navigacija
{
	height: 60px;
}


/*DIMENZIJA TEKSTA ZA OKVIRE*/
.podaci_okvira
{
	font-size: 11px;
	padding: 2px;
}

.kolona_naziv
{
	font-size: 11px;
}

/*IZGLED - NASLOVA OKVIRA*/

h2 {
	position: relative;
	top: -60px; 
	left: 0px;
}

h2 span { 
   color: white; 
   font: bold 20px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 5px;
}


}

@media only screen and (max-width: 1144px) {
.navigacija
{
	height: 60px;
}
th{
	padding-top: 0px;
	padding-bottom: 0px;
}
}

@media only screen and (max-width: 1120px) {

.mesto_nosac
{
	min-height: 150px;
	margin-bottom: 20px;
}

.glavni_meni a 
{
	font-size: 12px;
}

.kolona_cena
{
	font-size: 11px;
}

}

@media only screen and (max-width: 1140px) {
.slika_nav_x_modula_slika
{
	height: 30px;
}
}


@media only screen and (max-width: 1090px) {
/*DIMENZIJE BOJA OKVIRA*/
.boje_okvira
{
	width: 45%;
	float: left;
	padding: 5px;
}
}

/**//**/
@media only screen and (max-width: 1045px) {

/*scroll bar leva*/
div.ex1 {
  height: 100%;
}

div.ex2 {
  height: 100%;
}

.naslov_kompleta, .naslov_proizvoda
{
	font-size: 20px;
}

	
.glavni_meni a 
{
	font-size: 11px;
	font-weight: normal;
}
	
.link_moduli
{
	font-size: 11px;
}



.tekst_opis
{
	font-size: 14px;
}


.tabela_red_naslovi
{
	font-size: 10px;
}
	/*
/*DIMENZIJE KOMPLETNOG MODULA ZA SVE MEHANIZME*/
.mehanizam_velicine_1_modula
{
    display: inline-block;
	width: 30%;
	padding-bottom: 5px;
	padding-right: 0px;
	z-index: 1;
	min-height: 80px;
}


.mehanizam_velicine_2_modula, .mehanizam_velicine_2_modula_dodatno, 
.mehanizam_velicine_-_modula, .mehanizam_velicine_-_modula_dodatno
{
	width: 32%;
	padding-bottom: 5px;
	padding-right: 0px;
	min-height: 80px;
}

li a {
    display: block;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
	font-size: 10px;
}

/*DESNA STRANA*/

.navigacija
{
	/*position: relative;*/
	height: 55px;
}


/*TABELA SA ZA KOLIČINU PROIZVODA*/
.kolicina_proizvoda
{
	width: 60px;
	height: 55px;
	float: left;
	top: 0px;
	margin-left: 140px;
}

.kolicina_naslov
{
	font-size: 11px;
	height: 30%;
	padding: 0px;
	width: 100%;
}

.kolicina_prikaz
{
	height: 50%;
	vertical-align: middle;
	font-size: 20px;
}

.kolicina_plus, .kolicina_minus
{
	height: 40%;
	float: right;
	width: 50%;
	font-size: 20px;
	font-weight: bold;
}

.kolicina_minus
{
	float: left;
}

/*SETOVANJE DESNE STRANE MEHANIZMI KLONOVI 1005*/
/*KOMPLET 1 MEHANIZAM*/
.slika_velicine_1_modula_klon
{
	left: 0px;
	top: 0px;
	height: 56px;
	width: 56px;
}

.slika_nosac_1_modula_klon
{
	width: 58px;
	height: 58px;
	background-size: 58px 58px;
}

.okvir_velicine_1_modula_klon
{
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0px;
}

.slika_velicine_1_modula_klon:nth-child(1)
{
	z-index: 1;
	top: 1px;
	left: 2px;
}

/*KOMPLET 2 MODULA*/
.slika_nosac_2_modula_klon
{
	width: 112px;
	height: 58px;
	background-size: 112px 58px;
}
.okvir_velicine_2_modula_klon
{
	width: 112px;
	height: 60px;
	left: 0px;
	top: 0px;
}

.slika_velicine_1_modula_klon:nth-child(2)
{
	z-index: 2;
	top: 1px;
	left: -2px;
}
/*KOMPLET 3 MODULA*/
.slika_nosac_3_modula_klon
{
	width: 168px;
	height: 58px;
	background-size: 168px 58px;
}

.okvir_velicine_3_modula_klon
{
	width: 168px;
	height: 60px;
	left: -1px;
}

.slika_velicine_1_modula_klon:nth-child(3)
{
	z-index: 3;
	top: 1px;
	left: -6px;
}

/*KOMPLET 4 MODULA*/
.slika_nosac_4_modula_klon
{	
	width: 224px;
	height: 58px;
	background-size: 224px 58px;	
}

.okvir_velicine_4_modula_klon
{
	width: 224px;
	height: 60px;
	left: 0px;
}

.slika_velicine_1_modula_klon:nth-child(4)
{
	z-index: 3;
	top: 1px;
	left: -12px;
}

/*KOMPLET 7 MODULA*/
.slika_nosac_7_modula_klon
{	
	width: 235px;
	height: 92px;
	background-size: 235px 92px;	
}

.okvir_velicine_7_modula_klon
{
	width: 235px;
	height: 92px;
	left: 0px;
}

}

@media only screen and (max-width: 940px) {
	
.mehanizam_velicine_1_modula_dodatno
{
    display: inline-block;
	width: 30%;
	padding-bottom: 5px;
	padding-right: 0px;
	z-index: 1;
	min-height: 60px;
	margin-left: 40px;
}

.dodatni_1_modula_klon_slika
{
	position: relative;
	height: 80%;
	width: auto;
}


.subMenu
{
	display: none;
}
.subMenu2
{
	display: none;
}
.navigacija
{
	display: none;
}
.naslov_tabele_tekst
{
	font-size: 15px;
	width: 60%;
}
.link_moduli
{
	font-size: 11px;
}
.export
{
font-size: 10px;
width: 110px;
right: 115px;
top: -50px;
padding: 8px 17px;
}
.naslov_proizvoda, .naslov_kompleta
{
	font-size: 18px;
}
.mesto_nosac_minimiz
{
	height: 35px;
}

/*NOVI PADAJUCI MENI UMESTO NAVIGACIJE*/

.dropbtnNovo {
  background-color: #4CAF50;
  color: white;
  padding: 3px 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 0px;
}

.dropdownNovo {
  position: relative;
  display: inline-block;
}

.dropdown-contentNovo {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 20px;
}

.dropdown-contentNovo a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: 12px;
}

.dropdown-contentNovo a:hover {
	background-color: #f1f1f1
}

.dropdownNovo:hover .dropdown-contentNovo {
  display: block;
}

.dropdownNovo:hover .dropbtnNovo {
  background-color: #3e8e41;
}

.glavni{
	display: none;
}

/*scroll bar leva*/
div.ex1 {
  height: 110%;
}

div.ex2 {
  height: 110%;
}

}


/**//**/
@media only screen and (max-width: 910px) {
.naslov_proizvoda, .naslov_kompleta
{
	font-size: 15px;
}

}


@media only screen and (max-width: 860px) {
	
.mehanizam_velicine_1_modula_dodatno
{
	width: 90%;
	margin-left: 0px;
}
	
.slika_nav_x_modula_slika
{
	height: 35px;
}


#slika {
        display: none;
    }
	
.tabela_proizvoda_potvrda tr td:last-child{
		display: none;
}

.slika_nav_x_modula_slika, .nosac_slova
{
	display: none;
}
p.nosac_slova_2, p.nosac_slova_2_broj
{
	display: block;
}

p.nosac_slova_2_broj
{
	font-size: 16px;
}

div.ex2
{
	margin-top:2px;
}

}


@media only screen and (max-width: 770px) {

.slika_nav_x_modula_slika
{
	width: 30%;
}

.naslov_tabele
{
	font-size: 13px;	
}

.naslov_proizvoda
{
		padding-top: 0px;
		padding-left: 5px;
}

.podaci_mehanizama p
{
    font-size: 10px;
}

.slika_nav_x_modula_slika
{
	height: 40px;
}

/*DIMENZIJA TEKSTA ZA OKVIRE*/
.podaci_okvira
{
	font-size: 10px;
	padding: 2px;
}
.jezik_navigacija{
	top: -3px;
	height: 25px;
}

/*TABELA SA ZA KOLIČINU PROIZVODA*/
.kolicina_proizvoda
{
	width: 50px;
	height: 60px;
	float: left;
	top: 0px;
	margin-left: 100px;
}

.kolicina_naslov
{
	font-size: 8px;
	height: 20%;
	
}

.kolicina_prikaz
{
	height: 50%;
	vertical-align: middle;
	font-size: 20px;
}

.kolicina_plus, .kolicina_minus
{
	height: 30%;
	float: right;
	width: 50%;
	font-size: 14px;
	font-weight: bold;
}

.kolicina_minus
{
	float: left;
}

.tekst_katbr
{
	font-size: 12px;
}
.tekst_opis
{
	font-size: 12px;
}
.tekst_cena
{
	font-size: 11px;
}

}


@media only screen and (max-width: 767px){

	
.subMenu
{
	position: relative;
	top: 55px;
}

.leva, .desna
{
	margin-top: 55px;
}
.naslov_proizvoda, .naslov_kompleta
{
	font-size: 14px;
}

.leva, .desna {
    margin-top: 0px;
}


/*DIMENZIJE KOMPLETNOG MODULA ZA SVE MEHANIZME*/
/*
.proizvodi
{
	text-align: center;
}
*/
.mehanizam_velicine_2_modula, .mehanizam_velicine_2_modula_dodatno, 
.mehanizam_velicine_-_modula, .mehanizam_velicine_-_modula_dodatno
{
	display: inline-block;
	width: 32%;
	padding-bottom: 5px;
	padding-right: 0px;
	min-height: 60px;
}

.slika_nav_x_modula_slika
{
	height: 30px;
}

/*DIMENZIJE BOJA OKVIRA*/
.boje_okvira
{
	width: 80%;
	float: left;
	padding: 5px;
}

/*DIMENZIJA TEKSTA ZA OKVIRE*/
.podaci_okvira
{
	font-size: 12px;
	padding: 2px;
}


/*DESNA STRANA PODESAVANJE*/

.cenovnik_komplet_2_modula, .cenovnik_komplet_3_modula , .cenovnik_komplet_33_modula, .cenovnik_komplet_4_modula, .cenovnik_komplet_7_modula, .cenovnik_komplet_22_modula, .cenovnik_komplet_333_modula, .cenovnik_komplet_-_modula, .cenovnik_komplet_1_modula  
{
	font-size: 10px;
}

img.slika_lista_logo
{
	width: 20px;
	height: 27px;
	margin-right:10px;
}

.naslov_kompleta
{
	padding-bottom: 3px;
	padding-top: 3px;
}

.export
{
width: 95px;
right: 97px;
top: -40px;
padding: 4px 9px;
}

.naslov_tabele_tekst
{
	font-size: 12px;
}

/*scroll bar leva*/
div.ex1 {
  height: 120%;
}

div.ex2 {
  height: 120%;
}
}


@media only screen and (max-width: 690px) {
.tabela_proizvoda_potvrda tr td:nth-child(3){
		display: none;
}

.tabela_proizvoda_potvrda tr th:nth-child(3){
		display: none;
}
}


@media only screen and (max-width: 677px) {

.glavni_meni a
{
	font-size: 10px;
}

.naslov_kompleta, .naslov_proizvoda
{
	font-size: 14px;
}

.link_moduli
{
	   font-size: 10px;
}


}

@media only screen and (max-width: 670px) {

.tabela_red_naslovi, .kolona_naziv, .kolona_kat_br_naslov, .kolona_kolicina, .kolona_cena
{
		display: none;
}

.tabela_red_naslovi tr
{
		display: none;
}

}

@media only screen and (max-width: 600px) {

p.nosac_slova_2, .kolona_kat_br
{
	display: none;
}
.export
{
	top: -40px;
}

.kolicina_proizvoda
{
	clear: both;
	float: none;
	display: block;
	top: 0px;
	margin-left: 50px;
}

.naslov_tabele
{
	margin-bottom: 5px;
}

.mesto_nosac
{
	min-height: 120px;
	margin-bottom: 25px;
}

.kolona_ukupno
{
	display: none;
}
}

@media only screen and (max-width: 555px) {
	
.tabela_proizvoda_potvrda tr td:nth-child(1){
		display: none;
}

.tabela_proizvoda_potvrda tr th:nth-child(1){
		display: none;
}
}



@media only screen and (max-width: 500px) {

.mehanizam_velicine_1_modula
{
	width: 90%;
	margin-left: 0px;
}

.naslov_tabele_tekst
{
	width: 50%;
	
}

.bticino_levi
{
	padding-bottom: 0px;
}

.mesto_nosac_minimiz
{
	height: 50px;
}

}

@media only screen and (max-width: 480px) {

.dodatni_1_modula_klon_slika
{
	position: relative;
	height: 70%;
	width: auto;
}

#dodatni_komplet_opreme_1
{
	top: 36px;
}

.slika_nosac_1_modula_klon
{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	left: 10px;
	top: 10px;
}

.slika_nosac_2_modula_klon
{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	left: -10px;
	top: 35px;
}

.slika_nosac_3_modula_klon
{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	left: -40px;
	top: 70px;
}

.slika_nosac_4_modula_klon
{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	left: -70px;
	top: 90px;
}

.mesto_nosac
{
	min-height: 310px;
	margin-bottom: 5px;
}

.cenovnik_komplet_2_modula , .cenovnik_komplet_3_modula , .cenovnik_komplet_33_modula, .cenovnik_komplet_4_modula, .cenovnik_komplet_7_modula, .cenovnik_komplet_22_modula, .cenovnik_komplet_333_modula, .cenovnik_komplet_-_modula, .cenovnik_komplet_1_modula  
{
	top: 40px;
}


.kolicina_proizvoda {
	clear: both;
	float: none;
	display: block;
    width: 60px;
    height: 55px;

}


.kolicina_plus, .kolicina_minus {
    height: 40%;

}

.shortText_2 { display: inline-block; }
.fullText_2 { display: none; }
}

@media only screen and (max-width: 380px) {

.mesto_nosac_minimiz
{
	height: 50px;
}

/*scroll bar leva*/
div.ex1 {
  height: 115%;
}

div.ex2 {
  height: 115%;
}
	
}
