﻿.slika_05
{
	height: auto;
	width: 15%;
}


.slika_1
{
	height: auto;
	width: 30%;
}

.slika_2
{
	height: auto;
	width: 60%;
}

.slika_22
{
	width: 85px;
	height: 35px;
}

.slika_-
{
	width: 35px;
	height: 35px;
}

.slika_3
{
	height: auto;
	width: 70%;
}

.slika_33
{
	width: 45px;
	height: 45px;
}

.slika_333
{
	width: 100px;
	height: 35px;
}
.slika_4
{
	height: auto;
	width: 80%;
}

.slika_6
{
	width: 60px;
	height: 25px;
}

.slika_7
{
	width: 85px;
	height: 35px;
}



.tabela_navigacija {
	font-family: 'Open Sans';
	text-align: center;
	font-weight: bold;
	padding: 3px;
}
.tabela_navigacija  td
{
    width: 8,3%;
	padding: 3px;
	font-size: 12px;
}

.tabela_proizvoda_potvrda td
{
	border-bottom: 1px solid #F0F0F0;
	vertical-align: middle;
	padding: 3px;
	font-size: 12px;
}

.tabela_proizvoda_potvrda th{
	border-top: 4px solid #ce1808;
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
}

/*
.naslov_proizvoda
{
	font-size: 28px;
	clear: left;
	padding-bottom: 10px;
	padding-top: 10px;
}
*/
.wrapper-dugmad
{
	width: 100%;
	padding-top: 5px;
}

.wrapper-pdf
{
	float: left;
	width: 45%;
}

.wrapper-sredina
{
	float: left;
	width: 20px;
	height: 20px;
}

.wrapper-excel
{
	float: left;
	width: 45%;
}

.neko_dugme
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

#neko_dugme1
{
	background-color: #f44336;
	float: right;
	left: -50px;
}

.cene_ukupno
{
	text-align: right;
	border-bottom: solid 1px #F0F0F0;
	border-top: none;
	font-size: 12px;
}

.neko_dugme
{
	background-image: linear-gradient(#6fbf72, #4CAF50);
  /*background-color: #4CAF50; /* Green */
  border: 1px solid #2d6930;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px grey;
}

#neko_dugme1
{
	background-image: linear-gradient(#f76d63, #f44336);
	background-color: #f44336;
	float: right;
	left: -50px;
	border-radius: 3px;
	box-shadow: 1px 1px 5px grey;
	border: 1px solid #d0180b;
	
}



@media only screen and (max-width: 1100px) {

.naslov_proizvoda
{
	font-size: 20px;
}

.tabela_proizvoda_potvrda  td, th
{
	font-size: 11px;
}

.neko_dugme
{
  padding: 8px 19px;
  font-size: 14px;
}


}


@media only screen and (max-width: 900px) {
.tabela_proizvoda_potvrda
{
	font-size: 10px;
}

.cene_ukupno
{
	font-size: 12px;
}

/*
.wrapper-dugmad
{
	font-size: 12px;
}*/

.neko_dugme
{
  padding: 7px 14px;
  font-size: 12px;
}

.tabela_proizvoda_potvrda  td
{
	font-size: 9px;
}

}

@media only screen and (max-width: 780px) {

.slika_1
{
	width: 10px;
	height: 20px;
}

.slika_2
{
	width: 20px;
	height: 20px;
}

.slika_22
{
	width: 24.5px;
	height: 20px;
}

.slika_-
{
	width: 20px;
	height: 20px;
}

.slika_3
{
	width: 24.8px;
	height: 20px;
}

.slika_33
{
	width: 24.5px;
	height: 24.5px;
}

.slika_333
{
	width: 49.8px;
	height: 20px;
}



.slika_4
{
	width: 44px;
	height: 20px;
}

.slika_7
{
	width: 53.4px;
	height: 24px;
}

}


@media only screen and (max-width: 700px) {
.tabela_proizvoda_potvrda td
{
	font-size: 9px;
}

.slika_1
{
	width: 9.6px;
	height: 19.2px;
}

.slika_2
{
	width: 19.2px;
	height: 19.2px;
}

.slika_22
{
	width: 46.8px;
	height: 19.2px;
}

.slika_-
{
	width: 19.2px;
	height: 19.2px;
}

.slika_3
{
	width: 24.64px;
	height: 19.2px;
}

.slika_33
{
	width: 54.6px;
	height: 54.6px;
}

.slika_333
{
	width: 43.8px;
	height: 19.2px;
}



.slika_4
{
	width: 37.6px;
	height: 19.2px;
}

.slika_7
{
	width: 46.7px;
	height: 22.4px;
}

.neko_dugme
{
	font-size: 10px;
	padding: 2px 6px;
}
}

@media only screen and (max-width: 670px) {
.tabela_proizvoda_potvrda  td
{
	font-size: 8px;
}

.tabela_proizvoda_potvrda #slika
{
	display: none;
}

.tabela_proizvoda_potvrda td + td + td + td + td + td + td{
  display: none;
}

.cene_ukupno
{
	margin-left: 5px;
	text-align: left;
}

}

@media only screen and (max-width: 585px) {
.wrapper-sredina
{
	display: none;
}

@media only screen and (max-width: 500px) {
.wrapper-pdf
{
	float: none;
	margin-left: 15px;
}
}

@media only screen and (max-width: 450px) {

#neko_dugme1
{
	float: none;
	padding: 10px;
}

#neko_dugme2
{
	float: none;
	padding: 10px;
}
}
