/*  pod meni ispod glavnog menija  */

.glNavPodmeni
{
	position: relative;
	top: 50px;
	left: 200px;
	width: 70%;
	height: 150px;
	background: linear-gradient(to right,  #ececec 0%,#ececec 100%);
	z-index: 999;
	padding: 7px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	border-radius: 5px;
	border: 1px solid #d4d4d4;
	box-shadow: 2px 2px 10px #BAB8BA;
	display: none;
}

.glNavPodmeni a
{
	color: #3c3535;
	font-size: 15px;
	text-decoration: none;
}

.glNavPodmeni p
{
	padding: 7px;
	border-bottom: 0.5px solid #cbcbcb;
	margin-bottom: 0px;
}

.glNavPodmeni p:hover
{
	background: #fdc0b5;
	cursor: pointer;
}

/*  pod meni ispod glavnog menija  */

.dropdown .dropbtn {
	/*font-size: 10px; */
	border: none;
	outline: none;
	color: black;
/*	background-color: white;*/
/*	padding: 14px 16px;*/
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.reg_user{
	float: right;
	margin-top: 10px;
	margin-left: 50px;
	font-size: 12px;
}