$elementSeparator: '__';
$modifierSeparator: '--';

@mixin block($block) {
    .#{$block} {
        @content;
    }
}

@mixin element($element) {
    @at-root {
        #{&}#{$elementSeparator+$element} {
            @content;
        }
    }
}

@mixin modifier($modifier) {
    @at-root {
        #{&}#{$modifierSeparator+$modifier} {
            @content;
        }
    }
}

// Vertical center with absolute position
@mixin verticalCenter() {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

// Mixin for transition property
@mixin ilioanimation($animation, $duration) {
    -webkit-transition: $animation $duration ease;
    -moz-transition: $animation $duration ease;
    -ms-transition: $animation $duration ease;
    -o-transition: $animation $duration ease;
    transition: $animation $duration ease;
}

// Add a small shadow on current element
@mixin shadow-small() {
    -webkit-box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.23);
    -moz-box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.23);
    -o-box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.23);
    box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.23);
}

// Add a shadow on current element
@mixin shadow() {
    -webkit-box-shadow: 0 13px 16px 2px rgba(0,0,0,0.13);
    -moz-box-shadow: 0 13px 16px 2px rgba(0,0,0,0.13);
    -o-box-shadow: 0 13px 16px 2px rgba(0,0,0,0.13);
    box-shadow: 0 13px 16px 2px rgba(0,0,0,0.13);
}

// Gradient from top left to bottom right
@mixin gradient-tlbr($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(315deg, $color1 0%, $color2 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $color1), color-stop(100%, $color2)); /* safari4+,chrome */
    background: -webkit-linear-gradient(315deg, $color1 0%, $color2 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(315deg, $color1 0%, $color2 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(315deg, $color1 0%, $color2 100%); /* ie10+ */
    background: linear-gradient(135deg, $color1 0%, $color2 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* ie6-9 */
}

// Gradient from left to right
@mixin gradient-lr($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(0deg, $color1 0%, $color2 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, $color1), color-stop(100%, $color2)); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, $color1 0%, $color2 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, $color1 0%, $color2 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, $color1 0%, $color2 100%); /* ie10+ */
    background: linear-gradient(90deg, $color1 0%, $color2 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 ); /* ie6-9 */
}

// Mixin for placeholder cross browser
@mixin placeholder() {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        @content;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        @content;
    }
    &:-moz-placeholder { /* Firefox 18- */
        @content;
        opacity: 1;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        @content;
        opacity: 1;
    }
}