body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: $font-body;
    color: $color-9;

    &.no-overflow {
        overflow: hidden;
    }
}

@include block('grid-no-padding') {
    > div[class^='col-'] {
        padding: 0px!important;
    }
}

@include block('grid-small-padding') {
    div[class^='col-'] {
        padding: 3px!important;
    }
}

// Remove shadow style
@include block('no-shadow') {
    box-shadow: none !important;
}

// Add a border on bottom
@include block('border-bottom') {
    border-bottom: 1px solid #d8d8d8;
}

// Generate background styles
@include block('bg') {

    @include modifier('darker') {
        &::before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1;
        }
    }

    @include modifier('hover-gradient-1') {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            @include gradient-tlbr($color-2, $color-1);
        }
    }

    @include modifier('hover-gradient-2') {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            @include gradient-lr($color-3, $color-4);
        }
    }

    @include modifier('gradient-1') {
        @include gradient-tlbr($color-2, $color-1b);
    }

    @include modifier('gradient-2') {
        @include gradient-tlbr($color-3, $color-4);
    }

    @include modifier('gradient-2r') {
        @include gradient-tlbr($color-4, $color-3);
    }

    @include modifier('gradient-3') {
        @include gradient-tlbr($color-6, $color-5);
    }
}

$colors: (
        blue-1: #272d39,
        blue-2: #303a4c,
        blue-3: #3c475d,
        color-12: $color-12,
        color-13: $color-13,
        color-14: $color-14,
);

@each $name, $color in $colors {
    .bg--#{$name} {
        background: $color;
    }
}

// Generate margin top classes (ie: .mt--10 will add a margin-top: 10px style)
@include block('mt') {
    $elems: ('35', '50');
    @each $elem in $elems {
        @include modifier($elem) {
            margin-top: #{$elem}px !important;
        }
    }
}

// Generate margin bottom classes (ie: .mb--10 will add a margin-bottom: 10px style)
@include block('mb') {
    $elems: ('0', '10', '15', '20', '25', '30', '40', '45', '50', '55', '60', '80', '100');
    @each $elem in $elems {
        @include modifier($elem) {
            margin-bottom: #{$elem}px !important;
        }
    }
}

// Generate margin right classes (ie: .mr--10 will add a margin-right: 10px style)
@include block('mr') {
    $elems: ('5', '10', '15', '20', '25', '35', '50', '120');
    @each $elem in $elems {
        @include modifier($elem) {
            margin-right: #{$elem}px !important;
        }
    }
}

// Generate padding left classes (ie: .pl--10 will add a padding-left: 10px style)
@include block('ml') {
    $elems: ('0', '26');
    @each $elem in $elems {
        @include modifier($elem) {
            margin-left: #{$elem}px !important;
        }
    }
}

// Center vertically in flex display
@include block('valignRow') {
    font-size: 0;

    > [class*="col"] {
        display: inline-block;
        float: none;
        font-size: 14px;
        font-size: 1rem;
        vertical-align: middle;
    }
}

// Center vertically in absolute position (use on element)
@include block('verticalCenter') {
    @include verticalCenter();
}

// Center vertically and horizontally in absolute position (use on element)
@include block('fullCenter') {
    position: absolute !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@include block('fullwidth') {
    width: 100%;
}

// Center vertically in flex position (use on container)
.flex-v {
    display: flex;
    align-items: center;
    justify-content: center;

    @include modifier('left') {
        justify-content: flex-start;
    }

    @include modifier('right') {
        justify-content: flex-end;
    }

    @include modifier('top') {
        align-items: flex-start;
    }

    @include modifier('spaced') {
        justify-content: space-between;
    }

    @include modifier('wrap') {
        flex-wrap: wrap;

        > * {
            margin-bottom: 10px;
        }

        @media screen and (max-width: 479px) {
            .btn {
                display: block;
                margin-right: 0 !important;
            }
        }
    }
}

// Position flex item inside a flex container (ie children of .flex-v)
.flex-item {
    flex: 1;
    @include modifier('left') {
        align-self: flex-start;
    }
    @include modifier('right') {
        align-self: flex-end;
    }
}

// Disable shrink on this flex item
.flex-unshrink {
    flex-shrink: 0
}

// Add a black and white filter on element
.bw {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
        -webkit-filter: grayscale(0);
        -webkit-filter: grayscale(0);
        filter: none;
        filter: grayscale(0);
    }
}

.responsive-iframe {
    iframe {
        display: block;
    }
}

// Classes to reset data-eq attribute
@media screen and (min-width: 1200px) {
    .no-eq-lg {
        min-height: 0 !important;
    }

    .no-flex-lg {
        display: block;
        .btn {
            display: block;
        }
    }
}

@media screen and (min-width: 992px) {
    @include block('ml-md') {
        $elems: ('45');
        @each $elem in $elems {
            @include modifier($elem) {
                margin-left: #{$elem}px !important;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .no-eq-md {
        min-height: 0 !important;
    }

    .no-flex-md {
        display: block;
        .btn {
            display: block;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .no-eq-sm {
        min-height: 0 !important;
    }

    .no-flex-sm {
        display: block;
        .btn {
            display: block;
        }
    }
}

@media screen and (max-width: 767px) {
    .no-eq-xs {
        min-height: 0 !important;
    }

    .no-flex-xs {
        display: block;
        .btn {
            display: block;
        }
    }

    .text-left-xs {
        text-align: left;
    }

    // Generate margin bottom classes (ie: .mb--10 will add a margin-bottom: 10px style)
    @include block('mb-xs') {
        $elems: ('0', '10', '15', '20', '25', '30', '40', '45', '50', '55', '60', '80', '100');
        @each $elem in $elems {
            @include modifier($elem) {
                margin-bottom: #{$elem}px !important;
            }
        }
    }
}

@media screen and (max-width: 479px) {
    .no-eq-xxs {
        min-height: 0 !important;
    }

    .no-flex-xxs {
        display: block;
        .btn {
            display: block;
        }
    }

    // Generate margin right classes (ie: .mr-xxs--10 will add a margin-right: 10px style) on screens under 480px
    @include block('mr-xxs') {
        $elems: ('0', '8');
        @each $elem in $elems {
            @include modifier($elem) {
                margin-right: #{$elem}px !important;
            }
        }
    }
}