// Colors
//
// Colors we use on this website.
//
// Markup:
// <div class="displayColor-color-1">#f86153</div>
// <div class="displayColor-color-2">#fea184</div>
// <div class="displayColor-color-3">#3cc9ad</div>
// <div class="displayColor-color-4">#75cd78</div>
// <div class="displayColor-color-5">#f07423</div>
// <div class="displayColor-color-6">#faca58</div>
// <div class="displayColor-color-7">#e2e2e2</div>
// <div class="displayColor-color-8">#f3f2f1</div>
// <div class="displayColor-color-9">#3c3535</div>
// <div class="displayColor-color-10">#3c475d</div>
// <div class="displayColor-color-11">#f86153</div>
//
// Styleguide variables.colors
$colors: (
        color-1: $color-1,
        color-2: $color-2,
        color-3: $color-3,
        color-4: $color-4,
        color-5: $color-5,
        color-6: $color-6,
        color-7: $color-7,
        color-8: $color-8,
        color-9: $color-9,
        color-10: $color-10,
        color-11: $color-11
);

@each $name, $color in $colors {
    .displayColor-#{$name} {
        display: inline-block;
        padding: 38px 20px;
        border-radius: 50%;
        color: #fff;
        background-color: $color;
        margin-bottom: 10px;
    }

    .displayColor-color-7,
    .displayColor-color-8 {
        color: #000;
    }
}

/* Custom style */
.kss-style {
    font-family: Ubuntu, sans-serif;
    a, a:visited {
        color: $color-1;
        font-weight: 500;
    }

    a:hover, a:focus {
        color: darken($color-1, 10%);
    }
}

#kssref-components-buttons-style:hover .kss-modifier__wrapper {
    background: #dedede;
}

#kssref-components-buttons-style2 {
    .kss-style {
        color: white;
    }

    .kss-modifier__heading {
        color: #444;
    }

    .kss-modifier__wrapper {
        background: #444;
    }
}

#kssref-components-buttons-style3 {
    .kss-style {
        color: white;
    }

    .kss-modifier__heading {
        color: #444;
    }

    .kss-modifier__wrapper {
        background: #444;
    }
}

#kssref-components-buttons-breadcrumb .kss-modifier__wrapper {
    background: #444;
}

#kss-node .kss-main {
    max-width: 767px
}

#kss-node .kss-nav__ref-child {
    padding-left: 50px;
}
