@include block('header-simple') {
    position: relative;
    height: 170px;

    @include element('sticky') {
        position: fixed;
        width: 100%;
        z-index: 100;

        &.glue {
            .topmenu {
                //padding: 17px 0;

                -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);

                .header-burger__content {
                    > li {
                        @media screen and (min-width: 992px) {
                            padding: 19px 0;
                        }
                    }
                }
            }

            .header-simple__logo {
                transform: scale(0.8);
            }

            .header-simple__navigation .header-burger__content li:hover .burger-dropdown {
                top: 123px;
            }
        }
    }

    @include block('topmenu') {
        @include ilioanimation(all, 0.2s);
        position: relative;
        background-color: white;
        //padding: 40px 0;
        .header-burger__content {
            list-style: none;
            font-size: 15px;
            margin-bottom: 0;
            > li {
                @media screen and (min-width: 992px) {
                    display: inline-block;
                    margin-left: 13px;
                    padding: 42px 0;
                }
                > a {
                    @media screen and (min-width: 992px) {
                        text-decoration: none;
                        font-size: 15px;
                        font-weight: 500;
                        color: #3c3535;
                        padding-top: 8px;
                        text-transform: uppercase;

                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -ms-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        padding-bottom: 5px;
                        border-bottom: 3px solid transparent;
                        &:hover, &:focus, &.active {
                            color: $color-1;
                            border-bottom: 3px solid $color-1;
                        }
                    }

                    @media screen and (min-width: 992px) and (max-width: 1199px) {
                        font-size: 12px;
                    }
                }
            }

            .burger-dropdown {
                @media (min-width: 768px) {
                    li {
                        width: 750px;
                    }
                }

                @media (min-width: 992px) {
                    li {
                        width: 970px;
                    }
                }

                @media (min-width: 1200px) {
                    li {
                        width: 1170px;
                        a {
                            width: 75%;
                        }
                    }
                }
                li {
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: auto;
                    margin-left: auto;
                }
            }

            .burger-dropdown--move-out>li>a {
                transform: translate(9999px);
            }
        }
    }

    @include element('logo') {
        transition: all 0.3s ease;
        transform: scale(1);
    }

    // Responsive
    @media screen and (min-width: 992px) {
        @include element('navigation') {
            .header-burger__dropdown {
                position: static;
                background: none;
                transform: none;
                visibility: visible;
                padding: 0;

                @media screen and (min-width: 992px) {
                    > .header-burger__content.burger-dropdown--move-out {
                        > li {
                            > a {
                                opacity: 1 !important;
                                transform: none !important;
                            }
                        }
                    }
                }
            }

            .header-burger__content, .header-burger__content > ul {
                position: static;
                padding: 0;
            }

            .header-burger__content {
                overflow: visible;
                height: auto;
                z-index: 1;

                > .burger-has-children {
                    > a {
                        padding-left: 0;
                        padding-right: 0;
                        &:after {
                            content: none;
                        }
                    }

                    > .burger-dropdown {
                        transform: none;
                        display: none;
                    }
                }

                .burger-dropdown, .burger-dropdown--hidden {
                    transform: translateX(9999px);
                    li {
                        a {
                            padding: 14px 10px;
                            font-size: 14px;
                        }

                        &.burger-back > a {
                            padding-left: 40px;
                        }
                    }
                }

                ul {
                    z-index: 1;
                    height: 560px;
                }

                li {
                    &:hover {
                        .burger-dropdown {
                            @include gradient-lr($color-1, $color-2);

                            display: block;
                            z-index: 1;
                            overflow: scroll;
                            transform: translateX(0);
                            text-align: left;
                            position: fixed;
                            top: 160px;
                            left: 0;
                            right: 0;
                            height: 560px;
                            li {
                                a {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 991px) {
        .topmenu {
            text-align: left;
            padding: 34px 0;
        }

        @include element('navigation') {
            display: block !important;
            @include gradient-lr($color-1, $color-2);

            position: fixed;
            top: 160px;
            left: 0;
            right: 0;

            visibility: hidden;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform: translateY(-200%);
            -moz-transform: translateY(-200%);
            -ms-transform: translateY(-200%);
            -o-transform: translateY(-200%);
            transform: translateY(-200%);
            -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
            -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
            transition: transform 0.5s 0s, visibility 0s 0.5s;

            @include modifier('active') {
                visibility: visible;
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
                transform: translateY(0);
                -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0s;
                -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0s;
                transition: transform 0.5s 0s, visibility 0s 0s;
                -webkit-overflow-scrolling: touch;
            }

            .header-burger__dropdown {
                height: calc(100vh - 160px);
                position: static;
                .header-burger__content, .header-burger__content ul {
                    height: calc(100vh - 160px);
                }
            }
        }

        @include element('trigger') {
            z-index: 4;
            margin-left: 54px;
            padding: 0 !important;

            span {
                width: 25px;
                height: 2px;
                display: block;
                background: $color-11;

                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                &:not(:last-child) {
                    margin-bottom: 7px;
                }
            }

            &:hover {
                background: none !important;
            }

            @include modifier('active') {
                span:nth-child(2) {
                    opacity: 0;
                }

                span:nth-child(1) {
                    -webkit-transform: translateY(11px) rotate(45deg);
                    -ms-transform: translateY(11px) rotate(45deg);
                    -o-transform: translateY(11px) rotate(45deg);
                    transform: translateY(11px) rotate(45deg);
                }

                span:nth-child(3) {
                    -webkit-transform: translateY(-7px) rotate(-45deg);
                    -ms-transform: translateY(-7px) rotate(-45deg);
                    -o-transform: translateY(-7px) rotate(-45deg);
                    transform: translateY(-7px) rotate(-45deg);
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        height: auto;

        .topmenu {
            padding: 20px 0;
        }

        @include element('navigation') {
            top: 80px;

            .header-burger__dropdown {
                height: calc(100vh - 80px);
                .header-burger__content, .header-burger__content ul {
                    height: calc(100vh - 80px);
                }
            }
        }
    }
}