@include block('img-fit') {
    object-fit: cover;
}

@include block('img-center') {
    margin: 0 auto;
}


@include block('img-legend') {
    position: relative;

    @include element('text') {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 25px;
        color: white;
    }
}

@include block('lgpicto') {
    text-transform: none !important;

    @include modifier('title') {
        color: $color-1;
        font-size: 30px;
    }

    @include modifier('medium') {
        color: $color-1;
        font-size: 24px;
    }

    @include modifier('big') {
        font-size: 50px;
    }

    // Fix icon height
    &.lgicon-btn-printer {
        height: 16px;
    }
}

@include block('video-container') {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @include modifier('small-height') {
        max-height: 80%;
        max-height: 80vh;
        iframe {
            max-height: 80%;
            max-height: 80vh;
        }
    }
}

@include block('carousel') {
    .carousel-control {
        opacity: 1;
        background: none;
        width: 30px;

        .icon-prev {
            z-index: 2;
            &:before {
                content: '';

                display: block;
                width: 11px;
                height: 19px;
                background-image: url('../images/slider-prev.png');
                margin: 0 auto;
            }
        }

        .icon-next {
            z-index: 2;
            &:before {
                content: '';

                display: block;
                width: 11px;
                height: 19px;
                background-image: url('../images/slider-right.png');
                margin: 0 auto;
            }
        }
    }
}

@include block('media') {
    @include element('content') {
        position: relative;

        &:hover {
            .media__overlay {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    @include element('overlay') {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($color-1, 0.8);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        text-align: center;
    }
}