// Pagination
//
// Btn for paginate things
//
// Markup:
// <ul class="pagered__items js-pagered__items pagered text-center">
//     <li class="pagered__item pagered__item--first pagered-item">
//         <a href="#" title="First page">
//             <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
//         </a>
//     </li>
//     <li class="pagered__item pagered__item--previous pagered-prev">
//         <a href="#" title="Previous page" rel="prev">
//             <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
//         </a>
//     </li>
//     <li class="pagered__item pagered-item ">
//         <a href="#">1</a>
//     </li>
//     <li class="pagered__item pagered-item active">
//         <a href="#">2</a>
//     </li>
//     <li class="pagered__item pagered-item ">
//         <a href="#">3</a>
//     </li>
//     <li class="pagered__item pagered__item--next pagered-next ">
//         <a href="#" title="Next page" rel="next">
//              <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
//         </a>
//     </li>
//     <li class="pagered__item pagered__item--last pagered-item">
//         <a href="#" title="Last page">
//             <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
//         </a>
//     </li>
// </ul>
//
// Style guide: components.buttons.paginate
@include block('pagered') {
    @include element('label') {
        font-size: 12px;
        font-weight: 300;
        color: #939598;
        margin-bottom: 20px;
    }

    @include element('items') {
        padding-left: 0;
    }

    @include element('item') {
        display: inline-block;
        border: 1px solid #939598;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        position: relative;
        margin: 0 4px;

        a {
            @include verticalCenter();
            display: block;
            width: 100%;

            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color: #939598;
        }

        &:hover, &.active {
            background-color: $color-1;
            border-color: $color-1;
            a {
                color: #fff;
            }
        }

        @include modifier('first') {
            border: none;
            @media screen and (max-width: 767px) {
                width: 25px;
            }
        }

        @include modifier('last') {
            border: none;
            @media screen and (max-width: 767px) {
                width: 25px;
            }
        }

        @include modifier('previous') {
            border: none;
            margin-right: 50px;
            @media screen and (max-width: 767px) {
                width: 25px;
                margin-right: 4px;
            }
        }

        @include modifier('next') {
            border: none;
            margin-left: 50px;
            @media screen and (max-width: 767px) {
                width: 25px;
                margin-left: 4px;
            }
        }
    }

}