$fb: #3b5998;
$tw: #55acee;
$pin: #cb2027;

// Social
//
// Style guide: components.social

// Social button
//
// We use this to design social buttons
//
// Markup:
//<a href="#" class="social {{modifier_class}}">
//     <i class="fa fa-facebook"></i>
//</a>
//
// .social--big - Use this to make social button bigger
// .social--neg - Use this to make social button negatif
//
// Style guide: components.social.button
@include block('social') {
    width: 32px;
    height: 32px;
    position: relative;
    display: inline-block;
    border-radius: 50px;
    background: $color-11;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        font-size: 15px;
        color: white;
    }

    &:hover {
        background: darken($color-11, 10%);
    }

    // Elements
    @include element('sticky') {
        background: #f3f2f1;
        position: fixed;
        bottom: 10%;
        right: 20px;
        padding: 10px 6px;
        border-radius: 50px;
        width: 44px;

        z-index: 2;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            min-height: 32px;
            position: relative;
            overflow: visible;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        @media screen and (min-width: 1200px) and (max-width: 1299px) {
            right: 0;
        }

        @media screen and (max-width: 991px) {
            display: none;
        }
    }

    @include element('text') {
        font-size: 11px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-11;
        margin-left: 4px;

        display: none;
        transform: scale(0);
        opacity: 0;
    }

    // Modifiers
    @include modifier('big') {
        width: 40px;
        height: 40px;

        @media screen and (max-width: 479px) {
            width: 32px;
            height: 32px;
        }
    }

    @include modifier('xbig') {
        display: block;
        width: 50px;
        height: 50px;

        i {
            font-size: 24px;
        }
    }

    @include modifier('neg') {
        background-color: transparent;
        border: 1px solid $color-1;
        i {
            color: $color-1;
            transition: color 0.3s ease;
        }

        &:hover {
            i {
                color: white;
            }
        }
    }

    @include modifier('strong') {
        border: 2px solid $color-1;
    }

    @include modifier('white') {
        border-color: white;
        i {
            color: white;
        }
    }

    @include modifier('sticky-link') {
        overflow: hidden;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        position: absolute;
        right: 0;
        top: 0;

        &:hover {
            width: 120px;
            background: white;
            text-decoration: none;

            i {
                color: $color-11;
            }

            .social {
                @include element('text') {
                    display: inline;
                    transform: scale(1);
                    opacity: 1;
                    animation: appear .3s ease-in-out;
                }
            }
        }

        i {
            position: static;
            transform: none;
            -webkit-transition: color 0.3s ease;
            -moz-transition: color 0.3s ease;
            -ms-transition: color 0.3s ease;
            -o-transition: color 0.3s ease;
            transition: color 0.3s ease;
        }
    }

    @include modifier('inline') {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    @include modifier('svg') {
        width: 40px;
        height: 40px;
        background: none;
        i {
            display: block;
            height: 40px;
            width: 40px;

            position: relative;
            transform: none;
            top: -3px;
            left: -2px;

            color: $color-11;
            font-size: 40px;
        }

        &:hover {
            background: none;
            i {
                color: darken($color-11, 10%);
            }
        }
    }

    @include modifier('fb') {
        background-color: $fb;
        &:hover {
            background-color: darken($fb, 10%);
        }
    }

    @include modifier('tw') {
        background-color: $tw;
        &:hover {
            background-color: darken($tw, 10%);
        }
    }

    @include modifier('pin') {
        background-color: $pin;
        &:hover {
            background-color: darken($pin, 10%);
        }
    }
}

.social-labeled {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    margin-right: 15px;

    &:hover {
        text-decoration: none;
        .social {
            background: darken($color-11, 10%);

            @include modifier('neg') {
                i {
                    color: white;
                }
            }
        }
    }

    @include element('label') {
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        @include modifier('small') {
            font-size: 11px;
            font-weight: 300;
            line-height: 1;
        }
    }

    // Modifiers
    @include modifier('left') {
        margin-right: 0;

        .social-labeled {
            @include element('label') {
                margin-right: 20px;
            }
        }
    }
}

.social-link {
    font-size: 18px;
    &:hover {
        text-decoration: none;
    }
}

.social-modal {
    margin-top: 40px;
    margin-bottom: 80px;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            display: inline-block;
            margin: 0 15px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

#share-modal {
    .modal-body {
        padding: 50px 0;
    }
}

@keyframes appear {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}