$fb: #3b5998;
$tw: #55acee;
$yt: #bb0000;
$pin: #cb2027;

// Paragraph
//
// Style guide: typography.para

p {
    margin-bottom: 40px;
}

// Title
//
// Style for different title design
//
// Markup:
// <div class="title {{modifier_class}}">Our products</div>
//
// styles - font-size: 30px; line-height: 1; font-weight: 700; letter-spacing: .8px;
// .title--light - Use this to add a title with light font weight --  line-height: 1; font-family: Ubuntu; font-weight: 300; font-size: 30px; letter-spacing: .8px;
// .title--normal - Use this to add a title with normal font weight --  line-height: 1; font-family: Ubuntu; font-weight: 400; font-size: 30px; letter-spacing: .8px;
// .title--medium - Use this to add a medium title -- line-height: 1.2; font-family: Ubuntu; font-weight: 700; font-size: 22px; letter-spacing: .6px;
// .title--medium-2 - Use this to add a medium title (alternate style) -- line-height: 1; font-family: Ubuntu; font-weight: 700; font-size: 17px; letter-spacing: .6px;
// .title--medium-3 - Use this to add a medium title (alternate style) -- line-height: 1; font-family: Ubuntu; font-weight: 700; font-size: 25px; letter-spacing: .8px;
// .title--xsmall - Use this to add a very small title -- line-height: 1; font-family: Ubuntu; font-weight: 700; font-size: 13px; letter-spacing: 1px;
// .title--small - Use this to add a small title -- line-height: 1; font-family: Ubuntu; font-weight: 400; font-size: 16px; letter-spacing: .4px;
// .title--big - Use this to add a big title -- font-family:  line-height: 1.2; Ubuntu; font-weight: 700; font-size: 35px; letter-spacing: .9px;
// .title--hr - Use this to add a title with lg color -- line-height: 1; font-family: Ubuntu; font-weight: 700; font-size: 30px; letter-spacing: .8px;
// .title--transform-none - Use this to disable the uppercase -- line-height: 1; font-family: Ubuntu; font-weight: 700; font-size: 30px; letter-spacing: .8px;
// .title--card-category - Use this to add a title for a category -- line-height: 1; font-family: Ubuntu; font-weight: 400; font-size: 28px; letter-spacing: .8px;
//
// Style guide: typography.para.title
@include block('title') {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-9;
    letter-spacing: 0.8px;

    margin-top: 0;
    margin-bottom: 5px;

    @media screen and (max-width: 991px) {
        font-size: 25px;
    }

    // Modifiers
    @include modifier('big') {
        font-size: 35px;
        letter-spacing: 0.9px;
        line-height: 1.2;

        @media screen and (max-width: 991px) {
            font-size: 30px;
        }
    }

    @include modifier('medium') {
        font-size: 22px;
        letter-spacing: 0.6px;
        line-height: 1.2;

        @media screen and (max-width: 991px) {
            font-size: 17px;
        }
    }

    @include modifier('medium-2') {
        font-size: 17px;
        line-height: 1;
        text-transform: none;
    }

    @include modifier('medium-3') {
        font-size: 25px;
        line-height: 1;
        text-transform: none;

        @media screen and (max-width: 991px) {
            font-size: 20px;
        }
    }

    @include modifier('small') {
        font-weight: 400;
        font-size: 16px;
        text-transform: none;
        letter-spacing: 0.4px;
    }

    @include modifier('xsmall') {
        font-size: 13px;
        letter-spacing: 1px;
    }

    @include modifier('h4') {
        font-size: 20px;

        @media screen and (max-width: 991px) {
            font-size: 15px;
        }
    }

    @include modifier('light') {
        font-weight: 300;
    }

    @include modifier('normal') {
        font-weight: 400;
    }

    @include modifier('transform-none') {
        text-transform: none;
    }

    @include modifier('no-color') {
        color: #fff;
    }

    @include modifier('hr') {
        padding-bottom: 10px;
        border-bottom: 1px solid;
    }

    @include modifier('card-category') {
        font-size: 28px;
        font-weight: 400;

        @media screen and (max-width: 991px) {
            font-size: 23px;
        }
    }
}

// Paragraph
//
// We use this to design text paragraph
//
// Markup:
// <p class="para {{modifier_class}}">
// Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
// tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
// quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
// </p>
//
// .para--border-large   - Use this to add a large border left
// .para--border-small   - Use this to add a small border left
// .para--quote          - Use for quoting
// .para--indic          - Use for indications
// .para--tiny          - Use for indications (alternate)
//
// Style guide: typography.para.paragraph
@include block('para') {
    @include modifier('border-large') {
        margin-left: 45px;
        padding-left: 15px;
        border-left: 5px solid $color-1;
        padding-top: 5px;
        padding-bottom: 5px;
        @media screen and (max-width: 767px) {
            margin-left: 20px;
        }
    }

    @include modifier('border-small') {
        margin-left: 45px;
        padding-left: 20px;
        border-left: 1px solid $color-1;
        @media screen and (max-width: 767px) {
            margin-left: 20px;
        }
    }

    @include modifier('quote') {
        font-size: 39px;
        line-height: 1.2;
        text-align: center;
        font-weight: 300;

        &::before, &::after {
            display: inline-block;
            position: relative;
            height: 38px;

            font-family: $font-body;
            font-size: 98px;
            font-weight: 300;

            @media screen and (max-width: 767px) {
                font-size: 29px;
                position: static;
                height: auto;
                line-height: 1;
            }
        }

        &:after {
            content: '”';
            top: 56px;
            left: 22px;
            line-height: 1px;
        }

        &:before {
            content: '“';
            top: 30px;
            right: 12px;
            line-height: 1px;
        }

        @media screen and (max-width: 767px) {
            font-size: 29px;
        }
    }

    @include modifier('indic') {
        font-style: italic;
    }

    @include modifier('tiny') {
        font-size: 10px;
        color: $color-9;
    }

    @include modifier('space-top') {
        padding-top: 20px;
        @media screen and (max-width: 767px) {
            padding-top: 10px;
        }
    }

    @include modifier('no-color') {
        border-color: white;
    }
}

// Text
//
// We use this to design text paragraph
//
// Markup:
// <p class="text {{modifier_class}}">
// Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
// tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
// quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
// </p>
//
// .text--faded - Use this for indication
// .text--small - Use this for small indication
// .text--light - Use this for lighter font weight
// .text--strong - Use this for bolder font weight
//
// Style guide: typography.para.text
.text {
    @include modifier('faded') {
        font-size: 14px;
        color: #a1a1a1;
    }

    @include modifier('small') {
        font-size: 12px;
        line-height: 1.6;
    }

    @include modifier('light') {
        font-weight: 300;
    }

    @include modifier('strong') {
        font-weight: 700;
    }
}

// Color variations
//
// We use color variation classes for texts
//
// Markup:
// <div class="text-color-1">Lorem ipsum</div>
// <div class="text-color-2">Lorem ipsum</div>
// <div class="text-color-3">Lorem ipsum</div>
// <div class="text-color-4">Lorem ipsum</div>
// <div class="text-color-5">Lorem ipsum</div>
// <div class="text-color-6">Lorem ipsum</div>
// <div class="text-color-7">Lorem ipsum</div>
// <div class="text-color-8">Lorem ipsum</div>
// <div class="text-color-9">Lorem ipsum</div>
// <div class="text-color-10">Lorem ipsum</div>
// <div class="text-color-11">Lorem ipsum</div>
// <div class="text-white">Lorem ipsum</div>
// <div class="text-blue-link">Lorem ipsum</div>
// <div class="text-grey">Lorem ipsum</div>
// <div class="text-fb">Lorem ipsum</div>
// <div class="text-tw">Lorem ipsum</div>
// <div class="text-yt">Lorem ipsum</div>
// <div class="text-pin">Lorem ipsum</div>
//
// Style guide: typography.para.color
$colors: (
        color-1: $color-1,
        color-2: $color-2,
        color-3: $color-3,
        color-4: $color-4,
        color-5: $color-5,
        color-6: $color-6,
        color-7: $color-7,
        color-8: $color-8,
        color-9: $color-9,
        color-10: $color-10,
        color-11: $color-11,
        white: white,
        black: black,
        blue-link: #4498b8,
        grey: #888888,
        fb: $fb,
        tw: $tw,
        yt: $yt,
        pin: $pin
);

@each $name, $color in $colors {
    .text-#{$name} {
        color: $color;
    }

    .border-#{$name} {
        border-color: $color;
    }
}